Stack data together

In [15]:
import pandas as pd
import os

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, recall_score, precision_score, confusion_matrix
from sklearn.model_selection import train_test_split

# 0. Fold 0

In [16]:
# get folders representation

folder = '/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_0/count_sum_'

In [ ]:
all_data = pd.DataFrame()

for i in range(1,79):
    # get data for one file
    raw_data = pd.read_csv(folder+ str(i) + '.csv', sep=";")
    
    # concat data
    all_data = pd.concat([all_data, raw_data], ignore_index=True)
    
    print(len(all_data))
    print(i)

In [4]:
# pivot data
sums = all_data[['id','pids', 'sum']]

# pivot table
sums = pd.pivot_table(sums, index='id', columns='pids', values='sum', aggfunc='first').fillna(0).reset_index()
sums.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_0/val_fold_0_group_sum.csv', 
            sep=";")

In [5]:
# get mean
all_data['mean_count'] = all_data['sum'] /all_data['count']

# pivot data
means = all_data[['id','pids', 'mean_count']]

# pivot table
means = pd.pivot_table(means, index='id', columns='pids', values='mean_count', aggfunc='first').fillna(0).reset_index()
means.to_csv('/media/linda/INTENSO/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_0/val_fold_0_group_mean.csv', 
             sep=";")

# 1. Fold 1

In [7]:
# get folders representation

folder = '/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_1/count_sum_'

In [8]:
all_data = pd.DataFrame()

for i in range(1,79):
    # get data for one file
    raw_data = pd.read_csv(folder+ str(i) + '.csv', sep=";")
    
    # concat data
    all_data = pd.concat([all_data, raw_data], ignore_index=True)
    
    print(len(all_data))
    print(i)

245004
1
475547
2
726056
3
975113
4
1221726
5
1466052
6
1713800
7
1713800
8
1961436
9
2206054
10
2458952
11
2707333
12
2946024
13
3179612
14
3422211
15
3668128
16
3915532
17
4160090
18
4406277
19
4654758
20
4896692
21
5140971
22
5384942
23
5632777
24
5876191
25
6125362
26
6372831
27
6619037
28
6858577
29
7109528
30
7342106
31
7578411
32
7825620
33
8076014
34
8323214
35
8568715
36
8813481
37
9059979
38
9304727
39
9547391
40
9799281
41
10024557
42
10266572
43
10509692
44
10753298
45
10999753
46
11239635
47
11485154
48
11734584
49
11983317
50
12233176
51
12474467
52
12708907
53
12949962
54
13195328
55
13441387
56
13683702
57
13924881
58
14171013
59
14415479
60
14659948
61
14902539
62
15145580
63
15390303
64
15635947
65
15878458
66
16115463
67
16358673
68
16601292
69
16849201
70
17087462
71
17324142
72
17566398
73
17814746
74
18058243
75
18304155
76
18499396
77
18535386
78

In [9]:
# pivot data
sums = all_data[['id','pids', 'sum']]

# pivot table
sums = pd.pivot_table(sums, index='id', columns='pids', values='sum', aggfunc='first').fillna(0).reset_index()
sums.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_1/val_fold_1_group_sum.csv', 
            sep=";")

In [10]:
# get mean
all_data['mean_count'] = all_data['sum'] /all_data['count']

# pivot data
means = all_data[['id','pids', 'mean_count']]

# pivot table
means = pd.pivot_table(means, index='id', columns='pids', values='mean_count', aggfunc='first').fillna(0).reset_index()
means.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_1/val_fold_1_group_mean.csv', 
             sep=";")

# 2. Fold 2

In [2]:
# get folders representation

folder = '/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_2/count_sum_'

In [3]:
all_data = pd.DataFrame()
folders = list(range(1,46))
folders.extend(list(range(1,46)))
for i in folders:
    # get data for one file
    raw_data = pd.read_csv(folder+ str(i) + '.csv', sep=";")
    
    # concat data
    all_data = pd.concat([all_data, raw_data], ignore_index=True)
    
    print(len(all_data))
    print(i)

242579
1
471356
2
715397
3
960593
4
1203818
5
1443530
6
1687990
7
1687990
8
1933530
9
2174098
10
2420979
11
2666283
12
2901963
13
3131568
14
3370593
15
3612754
16
3857366
17
4099619
18
4341905
19
4586671
20
4825179
21
5065916
22
5307655
23
5550500
24
5790846
25
6036182
26
6279282
27
6521594
28
6756774
29
7002453
30
7232373
31
7464523
32
7707772
33
7953528
34
8197016
35
8437898
36
8679869
37
8922770
38
9163734
39
9402893
40
9652082
41
9874185
42
10113992
43
10353412
44
10593234
45
10835813
1
11064590
2
11308631
3
11553827
4
11797052
5
12036764
6
12281224
7
12281224
8
12526764
9
12767332
10
13014213
11
13259517
12
13495197
13
13724802
14
13963827
15
14205988
16
14450600
17
14692853
18
14935139
19
15179905
20
15418413
21
15659150
22
15900889
23
16143734
24
16384080
25
16629416
26
16872516
27
17114828
28
17350008
29
17595687
30
17825607
31
18057757
32
18301006
33
18546762
34
18790250
35
19031132
36
19273103
37
19516004
38
19756968
39
19996127
40
20245316
41
20467419
42
20707226
43
20946646
44
21186468
45

In [4]:
# pivot data
sums = all_data[['id','pids', 'sum']]

# pivot table
sums = pd.pivot_table(sums, index='id', columns='pids', values='sum', aggfunc='first').fillna(0).reset_index()
sums.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_2/val_fold_2_group_sum.csv', 
            sep=";")

In [5]:
# get mean
all_data['mean_count'] = all_data['sum'] /all_data['count']

# pivot data
means = all_data[['id','pids', 'mean_count']]

# pivot table
means = pd.pivot_table(means, index='id', columns='pids', values='mean_count', aggfunc='first').fillna(0).reset_index()
means.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_2/val_fold_2_group_mean.csv', 
             sep=";")

# 3. Fold 3

In [13]:
# get folders representation

folder = '/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_3/count_sum_'

In [14]:
all_data = pd.DataFrame()

for i in range(1,79):
    # get data for one file
    raw_data = pd.read_csv(folder+ str(i) + '.csv', sep=";")
    
    # concat data
    all_data = pd.concat([all_data, raw_data], ignore_index=True)
    
    print(len(all_data))
    print(i)

247528
1
479545
2
727784
3
977667
4
1225677
5
1469338
6
1719296
7
1719296
8
1969284
9
2214107
10
2466755
11
2716337
12
2956486
13
3191853
14
3436492
15
3684110
16
3931938
17
4177374
18
4422782
19
4670341
20
4913281
21
5159571
22
5403422
23
5650905
24
5895268
25
6144738
26
6393305
27
6639735
28
6878416
29
7128292
30
7363397
31
7601523
32
7849825
33
8101473
34
8348604
35
8595591
36
8841308
37
9088462
38
9334129
39
9578807
40
9832093
41
10057479
42
10300289
43
10542470
44
10787077
45
11035742
46
11279736
47
11525384
48
11775310
49
12024072
50
12273610
51
12515661
52
12749770
53
12990936
54
13237238
55
13484901
56
13726978
57
13967450
58
14213519
59
14459801
60
14706138
61
14949550
62
15191808
63
15439059
64
15684821
65
15928883
66
16166259
67
16410071
68
16652031
69
16900475
70
17138546
71
17375344
72
17617561
73
17867593
74
18112452
75
18356840
76
18552027
77
18589109
78

In [15]:
# pivot data
sums = all_data[['id','pids', 'sum']]

# pivot table
sums = pd.pivot_table(sums, index='id', columns='pids', values='sum', aggfunc='first').fillna(0).reset_index()
sums.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_3/val_fold_3_group_sum.csv', 
            sep=";")

In [16]:
# get mean
all_data['mean_count'] = all_data['sum'] /all_data['count']

# pivot data
means = all_data[['id','pids', 'mean_count']]

# pivot table
means = pd.pivot_table(means, index='id', columns='pids', values='mean_count', aggfunc='first').fillna(0).reset_index()
means.to_csv('path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_3/val_fold_3_group_mean.csv', 
             sep=";")

# 4. Fold 4

In [22]:
# get folders representation

folder = '/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_4/count_sum_'

In [23]:
all_data = pd.DataFrame()

for i in range(1,79):
    # get data for one file
    raw_data = pd.read_csv(folder+ str(i) + '.csv', sep=";")
    
    # concat data
    all_data = pd.concat([all_data, raw_data], ignore_index=True)
    
    print(len(all_data))
    print(i)

245190
1
474931
2
723021
3
972928
4
1220051
5
1463924
6
1711148
7
1711148
8
1959435
9
2204402
10
2457846
11
2706855
12
2947667
13
3181886
14
3426017
15
3673011
16
3919997
17
4165887
18
4411830
19
4661456
20
4905496
21
5152830
22
5397038
23
5644417
24
5887598
25
6137535
26
6385355
27
6631609
28
6870323
29
7121339
30
7355766
31
7591753
32
7839246
33
8089161
34
8338557
35
8585802
36
8831487
37
9078858
38
9325242
39
9569990
40
9821640
41
10047538
42
10290896
43
10534053
44
10777987
45
11024027
46
11265582
47

FileNotFoundError: [Errno 2] File b'/media/linda/INTENSO/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_4/count_sum_48.csv' does not exist: b'/media/linda/INTENSO/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_4/count_sum_48.csv'

In [24]:
# pivot data
sums = all_data[['id','pids', 'sum']]

# pivot table
sums = pd.pivot_table(sums, index='id', columns='pids', values='sum', aggfunc='first').fillna(0).reset_index()
sums.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_4/val_fold_4_group_sum.csv', 
            sep=";")

In [25]:
# get mean
all_data['mean_count'] = all_data['sum'] /all_data['count']

# pivot data
means = all_data[['id','pids', 'mean_count']]

# pivot table
means = pd.pivot_table(means, index='id', columns='pids', values='mean_count', aggfunc='first').fillna(0).reset_index()
means.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_4/val_fold_4_group_mean.csv', 
             sep=";")

In [5]:
from sklearn.model_selection import train_test_split

# 5. Get labels for the folds

## 5.1 Fold 0 Mean and Sums

In [4]:
means_0 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_0/val_fold_0_group_mean.csv', 
             sep=";", index_col=0)
means_0

/home/linda/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,921,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,9.0,0.0,7.0,-12.0,0.0,0.0,7.0,5.0,0.0,0.0
1,1818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
2,2465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-17.0,0.0,0.0,3.0,0.0,0.0,0.0
3,3298,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278517,516281177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1278518,516281921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
1278519,516282231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1278520,516282663,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0
1278521,516282871,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0

In [5]:
# labels 
ids = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/validation/val_fold_0.csv',
                 sep=";", index_col=0)
ids

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,cuxhaven,channel,1,1,1,343190981,['p23b'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,opioid,vasodilator,1,1,1,453050043,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,industry,estuary,2,1,2,344166346,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,screenwriting,art,17,3,16,240868865,"['p8ap3a', 'p8a', 'p3a', 'p8a', 'p20c', 'p8a',...",0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,stick,monument,3,3,3,297345077,"['p21a', 'p8b', 'p8a']",0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322851,kempe,line,1,1,1,203939908,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1322852,widow,giant,1,1,1,376449341,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
1322853,territory,seabird,2,1,2,28222046,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1322854,friday,filter,1,1,1,393022542,['p21a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1322855,magnification,machine,2,1,2,477858402,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
# get ids
ids = ids[['id', 'frequency', 'pidspread', 'pldspread', 'label']]
ids_distances = pd.merge(ids, means_0,
                        how='left', left_on='id',
                        right_on='id')
ids_distances[ids_distances.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
46,377559718,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,60591546,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,268120537,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,382138980,2,2,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,361267709,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322600,272880565,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322757,188610698,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322777,186121474,2,1,2,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322793,76500457,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322844,43082345,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# drop observations without NA
ids_distances_WO_NA = ids_distances[~ids_distances.p1.isna()]
ids_distances_WO_NA.shape

(1278522, 63)

In [10]:
# drop unnecessary columns
ids_distances_WO_NA.drop(columns={'id', 'frequency',
                                 'pidspread', 'pldspread'},
                        inplace=True)
train, test = train_test_split(ids_distances_WO_NA)
y_train = train.label.to_list()
X_train = train.drop(columns={'label'})

y_test = test.label.to_list()
X_test = test.drop(columns={'label'})

/home/linda/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
# train random Forest
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)
predictions = model.predict(X_train)

In [13]:
predictions = model.predict(X_test)

In [14]:
# print scores
print(f'Recall {recall_score(y_test, predictions)}')
print(f'Precision {precision_score(y_test, predictions)}')
print(f'F1 {f1_score(y_test, predictions)}')

Recall 0.0015895443306252208
Precision 0.05454545454545454
F1 0.003089068131113781

In [32]:
# pad with zero
ids_distances[ids_distances.isna()] = 0
ids_distances[ids_distances.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [34]:
# export means
ids_distances.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/means/val_fold_0.csv',
                    sep=";", index=False)

In [35]:
sums_0 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_0/val_fold_0_group_sum.csv', 
             sep=";", index_col=0)
sums_0

/home/linda/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,921,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,9.0,0.0,7.0,-12.0,0.0,0.0,7.0,5.0,0.0,0.0
1,1818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
2,2465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-17.0,0.0,0.0,3.0,0.0,0.0,0.0
3,3298,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278517,516281177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1278518,516281921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
1278519,516282231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1278520,516282663,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0
1278521,516282871,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0

In [36]:
# get ids
ids_distances_sum = pd.merge(ids, sums_0,
                        how='left', left_on='id',
                        right_on='id')
ids_distances_sum[ids_distances_sum.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
46,377559718,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,60591546,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,268120537,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,382138980,2,2,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,361267709,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322600,272880565,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322757,188610698,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322777,186121474,2,1,2,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322793,76500457,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322844,43082345,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# pad with zero
ids_distances_sum[ids_distances_sum.isna()] = 0
ids_distances_sum[ids_distances_sum.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [38]:
# export sums
ids_distances_sum.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/sum/val_fold_0.csv',
                    sep=";", index=False)

## 5.2 Fold 1 Mean and Sums

In [6]:
means_1 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_1/val_fold_1_group_mean.csv', 
             sep=";", index_col=0)
means_1

/home/linda/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
1,247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-19.0,0.0,0.0,0.0,0.0,0.0,0.0
2,312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
3,1308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278676,516279272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
1278677,516279582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1278678,516279681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1278679,516281099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-13.0,0.0,0.0,0.0,0.0,0.0,0.0
1278680,516281477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0

In [7]:
# labels 
ids = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/validation/val_fold_1.csv',
                 sep=";", index_col=0)
ids

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,robbie,pianist,6,1,2,448986358,"['p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,retrospective,resource,4,1,2,64023907,"['p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,promise,canadians,2,2,2,318843790,"['p23d', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,underwriting,conflict,1,1,1,426591166,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,wikipedia,composition,4,1,4,325395,"['p8a', 'p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322851,taiga,saint,1,1,1,376538391,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1322852,politician,atheist,9,2,7,218334506,"['p8a', 'p8a', 'p8a', 'p8a', 'p8a', 'p8a', 'p8b']",0,0,0,...,0,0,0,0,0,1,1,0,0,0
1322853,filmmaker,brain,1,1,1,14651314,['p43'],0,0,0,...,0,1,0,0,0,0,0,0,0,0
1322854,attempt,passion,11,8,10,432634465,"['p21ap28ap8ap3ap43', 'p23d', 'p2', 'p8b', 'p2...",0,0,0,...,0,1,0,0,0,1,1,0,0,0
1322855,methacrylate,medium,4,1,2,81083401,"['p5', 'p5']",0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [8]:
# get ids
ids = ids[['id', 'frequency', 'pidspread', 'pldspread', 'label']]
ids_distances = pd.merge(ids, means_1,
                        how='left', left_on='id',
                        right_on='id')
ids_distances[ids_distances.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
14,316865035,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,261304133,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,442119366,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,252810712,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,22412937,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322705,473626493,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322712,341623485,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322771,51384667,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322783,414527210,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322793,64898962,2,2,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# pad with zero
ids_distances[ids_distances.isna()] = 0
ids_distances[ids_distances.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [10]:
# export means
ids_distances.to_csv('/path/to9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/means/val_fold_1.csv',
                    sep=";", index=False)

In [43]:
sums_1 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_1/val_fold_1_group_sum.csv', 
             sep=";", index_col=0)
sums_1

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
1,247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-19.0,0.0,0.0,0.0,0.0,0.0,0.0
2,312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
3,1308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278676,516279272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
1278677,516279582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1278678,516279681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1278679,516281099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-26.0,0.0,0.0,0.0,0.0,0.0,0.0
1278680,516281477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0

In [44]:
# get ids
ids_distances_sum = pd.merge(ids, sums_1,
                        how='left', left_on='id',
                        right_on='id')
ids_distances_sum[ids_distances_sum.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
14,316865035,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,261304133,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,442119366,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,252810712,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,22412937,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322705,473626493,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322712,341623485,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322771,51384667,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322783,414527210,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322793,64898962,2,2,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# pad with zero
ids_distances_sum[ids_distances_sum.isna()] = 0
ids_distances_sum[ids_distances_sum.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [46]:
# export sums
ids_distances_sum.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/sum/val_fold_1.csv',
                    sep=";", index=False)

## 5.3 Fold 2 Mean and Sums

In [13]:
means_2 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_2/val_fold_2_group_mean.csv', 
             sep=";", index_col=0)

means_2

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,9.0,0.0
2,726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
3,1031,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
4,1456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967605,516281254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
967606,516281392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
967607,516281417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
967608,516281727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
967609,516282392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0

In [19]:
# labels 
ids = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/validation/val_fold_2.csv',
                 sep=";", index_col=0)
ids

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,scope,saga,3,1,3,203807714,"['p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,crate,psychic,1,1,1,226787560,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,pilot,village,2,1,2,224145506,"['p3a', 'p3a']",0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,list,drink,85,15,62,88453005,"['p5p4p8ap28dp8bp3ap43', 'p8a', 'p1p3a', 'p3a'...",1,0,0,...,0,1,1,0,0,1,1,0,0,0
4,maryland,license,7,3,6,344752612,"['p34', 'p26', 'p3a', 'p3a', 'p3a']",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322851,hermeticism,symbol,1,1,1,144349731,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
1322852,camp,word,59,17,50,169254534,"['p36p26p2p15ap10p8a', 'p10p8a', 'p8a', 'p8a',...",0,1,0,...,0,1,1,0,0,1,1,1,1,0
1322853,honolulu,vehicle,3,2,3,347073318,"['p2', 'p2', 'p3a']",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1322854,deer,technician,1,1,1,190367599,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1322855,hudson,curator,1,1,1,448547934,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [15]:
# get ids
ids = ids[['id', 'frequency', 'pidspread', 'pldspread', 'label']]
ids_distances = pd.merge(ids, means_2,
                        how='left', left_on='id',
                        right_on='id')
ids_distances[ids_distances.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
6,403568884,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,255198023,3,1,3,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,73078702,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,351701809,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,51648043,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322848,243479548,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322849,86708650,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322851,144349731,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322854,190367599,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322855,448547934,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# pad with zero
ids_distances[ids_distances.isna()] = 0
ids_distances[ids_distances.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [17]:
# export means
ids_distances.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/means/val_fold_2.csv',
                    sep=";", index=False)

In [18]:
sums_2 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_2/val_fold_2_group_sum.csv', 
             sep=";", index_col=0)
sums_2

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,9.0,0.0
2,726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
3,1031,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
4,1456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967605,516281254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
967606,516281392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
967607,516281417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
967608,516281727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
967609,516282392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0

In [ ]:
# get ids
ids_distances_sum = pd.merge(ids, sums_2,
                        how='left', left_on='id',
                        right_on='id')
ids_distances_sum[ids_distances_sum.p1.isna()]

In [20]:
# pad with zero
ids_distances_sum[ids_distances_sum.isna()] = 0
ids_distances_sum[ids_distances_sum.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [21]:
# export sums
ids_distances_sum.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/sum/val_fold_2.csv',
                    sep=";", index=False)

## 5.4 Fold 3 Mean and Sums

In [13]:
means_3 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_3/val_fold_3_group_mean.csv', 
             sep=";", index_col=0)

means_3

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-16.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1517,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0
2,3565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3631,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
4,3642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-6.0,0.0,0.0,5.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278942,516280371,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
1278943,516280379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0
1278944,516281507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1278945,516281671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0
1278946,516282419,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-14.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# labels 
ids = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/validation/val_fold_3.csv',
                 sep=";", index_col=0)
#ids['id'] = ids['id'].astype(str)
ids

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,puzzle,robot,3,2,3,116126578,"['p8a', 'p8a', 'p5']",0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,fabel,work,2,1,2,205370039,['p16'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,jainism,year,1,1,1,78385965,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,massacre,pacifist,1,1,1,57252180,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,right,proverb,7,4,7,226456869,"['p8ap27a', 'p8a', 'p5', 'p8c']",0,0,0,...,0,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322851,mini,symbol,4,1,4,304243981,"['p8a', 'p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
1322852,rashomon,group,1,1,1,362405376,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
1322853,bm,type,13,5,13,334354478,"['p5', 'p8c', 'p8a', 'p5', 'p34', 'p3a', 'p34'...",0,0,0,...,0,0,1,0,0,1,0,1,0,0
1322854,dead,quotation,2,1,1,286494080,"['p8b', 'p8b']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
1322855,essence,battle,18,2,17,269900062,"['p8a', 'p8a', 'p8b', 'p8a', 'p8a', 'p8a', 'p8...",0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [15]:
# get ids
ids = ids[['id', 'frequency', 'pidspread', 'pldspread', 'label']]
ids_distances = pd.merge(ids, means_3,
                        how='left', left_on='id',
                        right_on='id')
ids_distances[ids_distances.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
25,430521482,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,23485395,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,156467192,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,18080784,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,84961040,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322795,49258422,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322809,166476208,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322812,473517967,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322832,260059767,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322852,362405376,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# pad with zero
ids_distances[ids_distances.isna()] = 0
ids_distances[ids_distances.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [19]:
# export
ids_distances.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/means/val_fold_3.csv',
                    sep=";", index=False)

In [20]:
sums_3 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_3/val_fold_3_group_sum.csv', 
             sep=";", index_col=0)
sums_3

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-16.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1517,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0
2,3565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3631,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
4,3642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-6.0,0.0,0.0,5.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278942,516280371,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
1278943,516280379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0
1278944,516281507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1278945,516281671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,9.0,0.0,0.0,0.0
1278946,516282419,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-14.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# get ids
ids_distances_sum = pd.merge(ids, sums_3,
                        how='left', left_on='id',
                        right_on='id')
ids_distances_sum[ids_distances_sum.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
25,430521482,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,23485395,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,156467192,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,18080784,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,84961040,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322795,49258422,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322809,166476208,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322812,473517967,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322832,260059767,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322852,362405376,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# pad with zero
ids_distances_sum[ids_distances_sum.isna()] = 0
ids_distances_sum[ids_distances_sum.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [23]:
# export sums
ids_distances_sum.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/sum/val_fold_3.csv',
                    sep=";", index=False)

## 5.5 Fold 4 Mean and Sums

In [24]:
means_4 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_4/val_fold_4_group_mean.csv', 
             sep=";",index_col=0)

means_4

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,1044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
2,4160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
3,4198,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-5.0,0.0,0.0,4.0,4.0,0.0,0.0
4,4563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-8.0,0.0,0.0,0.0,8.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990197,516279665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990198,516281284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
990199,516281938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
990200,516282405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990201,516282813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# labels 
ids = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/validation/val_fold_4.csv',
                 sep=";", index_col=0)
ids

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,tuscon,archive,1,1,1,448551725,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,lopata,screenwriter,1,1,1,69467141,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,earwig,pet,1,1,1,402423651,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,filmmaker,machine,1,1,1,25234330,['p2'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,duncombe,pond,1,1,1,379417812,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322856,hase,psychologist,2,1,2,314477125,"['p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
1322857,letter,cheese,4,3,4,390034299,"['p5', 'p8a', 'p25']",0,0,0,...,0,0,1,0,0,1,0,0,0,0
1322858,purgatori,book,2,2,2,151144180,"['p8a', 'p3a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
1322859,ekta,network,1,1,1,5301377,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
1322860,flatland,sport,1,1,1,359139430,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [26]:
# get ids
ids = ids[['id', 'frequency', 'pidspread', 'pldspread', 'label']]
ids_distances = pd.merge(ids, means_4,
                        how='left', left_on='id',
                        right_on='id')
ids_distances[ids_distances.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,448551725,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,69467141,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,326420680,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,309260896,4,3,4,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,337543173,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322850,370826958,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322851,44878176,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322852,283141364,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322859,5301377,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322860,359139430,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# pad with zero
ids_distances[ids_distances.isna()] = 0
ids_distances[ids_distances.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [28]:
# export
ids_distances.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/means/val_fold_4.csv',
                    sep=";", index=False)

In [29]:
sums_4 = pd.read_csv('/path/to/INTENSO/9_FINAL/data/machine_learning/two_class/distance/grouping/Run_3/validation_fold_4/val_fold_4_group_sum.csv', 
             sep=";", index_col=0)
sums_4

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,1044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
2,4160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
3,4198,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-5.0,0.0,0.0,4.0,4.0,0.0,0.0
4,4563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-8.0,0.0,0.0,0.0,8.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990197,516279665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990198,516281284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
990199,516281938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
990200,516282405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990201,516282813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# get ids
ids_distances_sum = pd.merge(ids, sums_4,
                        how='left', left_on='id',
                        right_on='id')
ids_distances_sum[ids_distances_sum.p1.isna()]

,id,frequency,pidspread,pldspread,label,p1,p10,p11,p12a,p12b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,448551725,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,69467141,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,326420680,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,309260896,4,3,4,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,337543173,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322850,370826958,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322851,44878176,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322852,283141364,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322859,5301377,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322860,359139430,1,1,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# pad with zero
ids_distances_sum[ids_distances_sum.isna()] = 0
ids_distances_sum[ids_distances_sum.p1.isna()]

Empty DataFrame
Columns: [id, frequency, pidspread, pldspread, label, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d]
Index: []

[0 rows x 63 columns]

In [32]:
# export sums
ids_distances_sum.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/distance_prepared/train/cross_validation/sum/val_fold_4.csv',
                    sep=";", index=False)

In [8]:
# labels 
ids = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/validation/val_fold_0.csv',
                 sep=";", index_col=0)
ids.head()

/home/linda/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,cuxhaven,channel,1,1,1,343190981,['p23b'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,opioid,vasodilator,1,1,1,453050043,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,industry,estuary,2,1,2,344166346,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,screenwriting,art,17,3,16,240868865,"['p8ap3a', 'p8a', 'p3a', 'p8a', 'p20c', 'p8a',...",0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,stick,monument,3,3,3,297345077,"['p21a', 'p8b', 'p8a']",0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [9]:
# sanity check for means
means.head()

pids,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,921,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,9.0,0.0,7.0,-12.0,0.0,0.0,7.0,5.0,0.0,0.0
1,2465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-17.0,0.0,0.0,3.0,0.0,0.0,0.0
2,3298,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
4,3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0

In [10]:
# only get relevant columns in ids
ids = ids[['id', 'label']]

In [12]:
len(ids)

1322856

In [11]:
# get label of the observations: TODO: still does not contain all ids
mean_with_label = pd.merge(means,
                          ids, how='left')
mean_with_label.head()

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,921,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,7.0,-12.0,0.0,0.0,7.0,5.0,0.0,0.0,0
1,2465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-17.0,0.0,0.0,3.0,0.0,0.0,0.0,0
2,3298,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,3759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0
4,3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0

In [13]:
len(means)

1146384

In [15]:
# get all ids without label 
mean_with_label[mean_with_label.label.isna()]

Empty DataFrame
Columns: [id, p1, p10, p11, p12a, p12b, p12c, p13, p14, p15a, p15b, p16, p2, p20a, p20b, p20c, p20d, p21a, p21b, p21c, p21d, p22a, p22b, p23a, p23b, p23c, p23d, p23e, p24, p25, p26, p27a, p27b, p28a, p28b, p28c, p28d, p29a, p29c, p30a, p30b, p31a, p31b, p34, p36, p37, p38, p39, p3a, p4, p42, p43, p5, p6, p7, p8a, p8b, p8c, p8d, label]
Index: []

[0 rows x 60 columns]

In [16]:
# sanity check for labels
mean_with_label.label.value_counts()

0    1126076
1      20308
Name: label, dtype: int64

In [17]:
# split into train and test (validation)
train, test = train_test_split(mean_with_label, test_size=0.2, random_state=42)

In [18]:
train.label.value_counts()

0    900817
1     16290
Name: label, dtype: int64

In [19]:
test.label.value_counts()

0    225259
1      4018
Name: label, dtype: int64

In [21]:
# get x and y for train and test
X_train = train.copy()
X_train.drop(columns = {'id', 'label'}, 
             inplace=True)
X_train

,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,p15b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
22423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
803139,0.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
241135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0
114676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
387063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-3.0,0.0,0.0,12.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-6.0,0.0,0.0,0.0,0.0,0.0,0.0
259178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-7.0,0.0,0.0,0.0,0.0,0.0,0.0
131932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671155,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,-8.0,0.0,0.0,0.0,0.0,0.0,0.0
121958,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0

In [22]:
# get y of train
y_train = train['label']

In [23]:
# get x and y for train and test
X_test = test.copy()
X_test.drop(columns = {'id', 'label'}, 
             inplace=True)
X_test

,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,p15b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
1013602,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,14.0,0.0,0.0
114448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0
812281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
448181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1138826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
147421,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
299112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
1000448,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
703707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# get y of test
y_test = test['label']

In [25]:
from sklearn.naive_bayes import GaussianNB

In [26]:
# train naive bayes classifier
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [27]:
# get predicted labels for y_test
predicted_labels = nb.predict(X_test)

In [30]:
from sklearn.metrics import confusion_matrix, f1_score, precision_score, recall_score

In [29]:
confusion_matrix(y_test, 
                 predicted_labels)

array([[206887,  18372],
       [  3333,    685]])

In [31]:
f1_score(y_test, 
        predicted_labels)

0.05937161430119176

In [32]:
precision_score(y_test, 
        predicted_labels)

0.03594479718738521

In [33]:
recall_score(y_test, 
        predicted_labels)

0.17048282727725236

In [35]:
# get balanced metrics
X_train_0 = train[train.label==0]
X_train_1 = train[train.label==1]

In [36]:
# get random samples from 0 with same length of train_1
X_train_0 = X_train_0.sample(n=len(X_train_1))
X_train_0

,id,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
758259,345187437,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1051278,474999997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0
1067648,481803024,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0
322323,140192305,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0
123588,50819927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587826,266295100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0
193290,81891275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1083959,488423726,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-13.0,0.0,0.0,4.0,0.0,0.0,0.0,0
740622,337889478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0,0
36761,16145867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [37]:
# concat data together and shuffle
train_downsampled = pd.concat([X_train_0, X_train_1],
                             ignore_index=True)
train_downsampled = train_downsampled.sample(frac=1)

In [38]:
# get X and label
X_train_downsampled = train_downsampled.copy()
X_train_downsampled.drop(columns={'id', 'label'},
                        inplace=True)
X_train_downsampled

,p1,p10,p11,p12a,p12b,p12c,p13,p14,p15a,p15b,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
2172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0
32246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
25183,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13702,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
12454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20631,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9458,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-6.0,0.0,0.0,4.0,4.0,0.0,0.0

In [39]:
# get label
y_train_downsampled = train_downsampled['label']

In [40]:
# train naive bayes classifier
nb = GaussianNB()
nb.fit(X_train_downsampled, y_train_downsampled)
# get predicted labels for y_test
predicted_labels = nb.predict(X_test)

In [41]:
confusion_matrix(y_test, 
                 predicted_labels)

array([[212676,  12583],
       [  3541,    477]])

In [42]:
f1_score(y_test, 
        predicted_labels)

0.05586134207752664

In [43]:
precision_score(y_test, 
        predicted_labels)

0.03652373660030628

In [44]:
recall_score(y_test, 
        predicted_labels)

0.11871577899452464

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_downsampled_scaled = scaler.fit_transform(X_train_downsampled)

In [46]:
# scale X_test
X_test_scaled = scaler.fit_transform(X_test)

In [48]:
# train naive bayes classifier
nb = GaussianNB()
nb.fit(X_train_downsampled_scaled, y_train_downsampled)
# get predicted labels for y_test
predicted_labels = nb.predict(X_test_scaled)

In [49]:
confusion_matrix(y_test, 
                 predicted_labels)

array([[214099,  11160],
       [  3624,    394]])

In [50]:
f1_score(y_test, 
        predicted_labels)

0.05060364757256614

In [51]:
precision_score(y_test, 
        predicted_labels)

0.03410074433096763

In [52]:
recall_score(y_test, 
        predicted_labels)

0.09805873568939771

In [53]:
import xgboost as xgb

In [56]:
# train naive bayes classifier
xgb_c = xgb.XGBClassifier()
xgb_c.fit(X_train_downsampled, y_train_downsampled)
# get predicted labels for y_test
predicted_labels = xgb_c.predict(X_test)

In [57]:
confusion_matrix(y_test, 
                 predicted_labels)

array([[149060,  76199],
       [  1189,   2829]])

In [58]:
f1_score(y_test, 
        predicted_labels)

0.0681309153962864

In [59]:
precision_score(y_test, 
        predicted_labels)

0.03579743888242142

In [60]:
recall_score(y_test, 
        predicted_labels)

0.7040816326530612