In [1]:
import pandas as pd
from helper import util_preprocessing, util_pids
from sklearn.utils import shuffle
import numpy as np

# 1. Get train and test split per category

## 1.1 One hot encoded

## 1.1.1 Subclasses - one hot encoded

In [2]:
# read one hot encoded data
subclasses_one_hot = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/subclasses_one_hot_encoded.csv', sep=";")
del subclasses_one_hot['Unnamed: 0']

subclasses_one_hot.head()

,subClass,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,1,0,0,0,0,0,1,1,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",1,0,0,...,1,0,0,1,0,0,1,1,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",1,0,0,...,1,0,1,1,1,0,1,1,0,0

In [7]:
# get shape for sanity check
subclasses_one_hot.shape # (3798, 64)

(3798, 64)

## 1.1.2 Types - one hot encoded

In [5]:
# read one hot encoded data
types_one_hot = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/types_one_hot_encoded.csv', sep=";")
del types_one_hot['Unnamed: 0']

types_one_hot.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,1988,album,4,2,4,89520215,"['p3a', 'p5', 'p5', 'p3a']",0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,196,year,1,1,1,250210719,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,53,year,2,1,1,333976287,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2007,year,104,6,57,179643001,"['p25p8ap8b', 'p8b', 'p8b', 'p25', 'p8b', 'p8b...",1,0,0,...,0,0,0,0,0,0,1,1,0,0
4,2,aircraft,21,4,16,472381603,"['p8b', 'p8b', 'p8b', 'p3a', 'p8b', 'p5', 'p8b...",0,0,0,...,0,0,0,1,0,0,1,1,0,0

In [11]:
# drop duplicates
types_one_hot = types_one_hot.drop_duplicates(subset='id')
types_one_hot.shape

(118166, 65)

In [13]:
# stack together
types_one_hot_id = types_one_hot.id
len(types_one_hot_id)

118166

In [14]:
# check for duplicates
len(set(types_one_hot_id))

118166

In [15]:
# check for ids in subclasses
subclasses_one_hot_id = subclasses_one_hot.id

In [16]:
len(subclasses_one_hot_id)

3798

In [18]:
# check for duplicates
len(set(subclasses_one_hot_id))

3798

In [20]:
# append all ids
all_ids = subclasses_one_hot_id.tolist().copy()
all_ids.extend(types_one_hot_id)

len(all_ids)

121964

In [21]:
# check for duplicates
len(set(all_ids))

120246

In [22]:
# check all duplicate ids
duplicates = set([x for x in all_ids if all_ids.count(x) > 1])
duplicates

{113942534,
 122888199,
 26943499,
 164446223,
 66469905,
 408363026,
 255549457,
 456515606,
 68296729,
 477855772,
 122978343,
 92684331,
 52682799,
 84238384,
 302071856,
 120135740,
 117088327,
 403873869,
 346169421,
 26386511,
 51069009,
 436478034,
 248725588,
 14663767,
 44146781,
 358834274,
 170049643,
 212566125,
 449658995,
 341934198,
 37273719,
 35053692,
 256073858,
 321192068,
 421109894,
 78807186,
 13353109,
 151363735,
 442957975,
 3489948,
 481337513,
 512958644,
 361726134,
 149176505,
 480616634,
 11706559,
 442048706,
 69181635,
 217563343,
 252567765,
 426950878,
 362774751,
 102105312,
 103416039,
 63226088,
 207306993,
 454811902,
 120701185,
 124322062,
 254714128,
 228065557,
 332333335,
 218775831,
 82125081,
 486064414,
 8110368,
 449634598,
 475087145,
 123265322,
 13443380,
 443425088,
 31932740,
 276447578,
 209715553,
 134398306,
 112312678,
 136110450,
 378683764,
 345039235,
 433168772,
 276619658,
 359145868,
 455786898,
 414990749,
 445677987,
 321503653,
 80560552,
 302678448,
 38781362,
 94028210,
 36118966,
 142279102,
 28983758,
 122806736,
 499163605,
 397992413,
 360440285,
 513540580,
 14787046,
 352174568,
 133095914,
 278381034,
 38167030,
 113680886,
 6455800,
 445555193,
 170394103,
 33275,
 224207356,
 320373259,
 95429132,
 346128914,
 304792088,
 256172583,
 512336423,
 340754985,
 234324525,
 276054575,
 203768370,
 345588278,
 69657153,
 388039247,
 361095762,
 31244885,
 492044886,
 504529501,
 119472734,
 113779296,
 360981091,
 21693037,
 59843182,
 253952627,
 482763383,
 5841540,
 207381148,
 134668960,
 27525806,
 434332348,
 321610447,
 242754257,
 16401107,
 473219797,
 8315613,
 432251615,
 474227428,
 439739112,
 132629227,
 81642224,
 221586165,
 362210038,
 229737216,
 934656,
 17015555,
 13853444,
 266494726,
 65741577,
 121152267,
 133268248,
 131113752,
 360735512,
 35504923,
 135865121,
 88400676,
 27878184,
 381846315,
 93725484,
 145105714,
 23126834,
 412558132,
 116122432,
 368730951,
 310199123,
 17343324,
 271369053,
 15803229,
 189735779,
 478233444,
 160842607,
 329302896,
 181658487,
 363676536,
 381903736,
 473391994,
 193700731,
 16532347,
 154706824,
 309478282,
 356590484,
 373597079,
 513319834,
 47997851,
 197362595,
 135087018,
 224379826,
 345596851,
 254616501,
 246801335,
 132424634,
 100156352,
 151290817,
 79291330,
 272901059,
 484647893,
 414106584,
 212501470,
 378143711,
 271401953,
 512328674,
 109356006,
 123405296,
 360686585,
 87868415,
 1352705,
 459432964,
 357336092,
 50783262,
 434971683,
 23217191,
 395183144,
 116589607,
 500368439,
 429343799,
 53126228,
 272974943,
 385238118,
 392217714,
 273040504,
 120095867,
 343278716,
 273056897,
 135136388,
 67429514,
 20808845,
 24659091,
 35898523,
 435135644,
 412099745,
 12346543,
 133964985,
 480085178,
 506102971,
 271746238,
 303228099,
 228295878,
 484951240,
 151700683,
 301352146,
 490038485,
 144393442,
 484410594,
 486073586,
 483673336,
 73704709,
 321201414,
 475358484,
 15680806,
 456246567,
 463029544,
 363324711,
 410617133,
 157459766,
 388908356,
 473720139,
 136480080,
 360277331,
 370181467,
 275793262,
 382133614,
 34219378,
 409363827,
 347301238,
 485614977,
 440296840,
 81429911,
 35358112,
 270411175,
 361899434,
 5121455,
 461850039,
 343270842,
 98764219,
 53233089,
 32056769,
 483837386,
 222512593,
 475858386,
 72738260,
 321766868,
 99468760,
 482280942,
 397477360,
 3810802,
 38708725,
 291898871,
 493831672,
 154707454,
 340379136,
 448701957,
 381339144,
 254748171,
 15386125,
 34186767,
 274761246,
 365643297,
 75646503,
 466011688,
 292988457,
 304965164,
 374793778,
 271582775,
 385566264,
 482420284,
 374670915,
 358991429,
 270583368,
 13731417,
 69232217,
 195110492,
 50112105,
 269379178,
 258197100,
 485647981,
 369313390,
 53790323,
 378914422,
 14665336,
 142313082,
 275662473,
 283240073,
 118621833,
 37856923,
 11904669,
 321652383,
 313919141,
 398124711,
 342222504,
 46982828,
 83928775,
 506046161,
 255174360,
 225199835,
 482920165,
 73090795,
 397493997,
 122627831,
 345188091,
 484861692,
 216499972,
 77711113,
 415696655,
 383076115,
 447858461,
 432170782,
 80578340,
 124331814,
 13682478,
 476284718,
 231171898,
 430802747,
 252585788,
 499648319,
 343934784,
 217859929,
 480847713,
 115812193,
 427829100,
 391726959,
 257230704,
 33711986,
 15828855,
 480167801,
 60704634,
 38897531,
 138495868,
 322340730,
 314288005,
 303204233,
 14903188,
 16983956,
 137013146,
 139700128,
 223659944,
 366340015,
 268249014,
 15665080,
 275376056,
 396330944,
 37382088,
 103483342,
 87828434,
 418957274,
 303433692,
 283715559,
 321415144,
 27142124,
 197257197,
 512518132,
 440731639,
 137086968,
 381601786,
 223086589,
 464455685,
 443951109,
 52627462,
 309471244,
 204212236,
 143607827,
 3131412,
 86820883,
 137750551,
 226740248,
 322258969,
 482650140,
 484386847,
 455165984,
 17074216,
 275646510,
 346900529,
 71493683,
 119621685,
 276670523,
 159500360,
 34031692,
 242796621,
 78596175,
 158492753,
 136161362,
 194062427,
 436398187,
 46663799,
 253683838,
 134989950,
 282609792,
 497502334,
 440993924,
 132302989,
 214378642,
 227149974,
 347138203,
 114747547,
 428451999,
 359475361,
 216598692,
 38152357,
 376187051,
 223045812,
 386574517,
 148334774,
 485804215,
 267258038,
 119449786,
 210921670,
 369871060,
 232851669,
 73132249,
 408094938,
 221030622,
 398584038,
 415746281,
 141969644,
 16885998,
 132393203,
 427534585,
 15419643,
 440469758,
 270829825,
 361900290,
 148121865,
 4327691,
 231590157,
 350906637,
 344582417,
 83519768,
 275687706,
 75983138,
 433801510,
 491268392,
 114133296,
 256665906,
 96971059,
 426453302,
 387852605,
 384887114,
 221669711,
 39414101,
 392866134,
 219138391,
 371845471,
 343132515,
 8939880,
 373492073,
 380045679,
 136661375,
 253364610,
 50407813,
 27593118,
 233949599,
 80292259,
 17140134,
 218302888,
 134195626,
 364038579,
 67824058,
 345532862,
 463776190,
 45722048,
 394398144,
 231844303,
 145033681,
 307145170,
 469731798,
 160541146,
 170093021,
 28756450,
 273353189,
 475523557,
 57280998,
 10693095,
 81291757,
 398068209,
 378243569,
 224209404,
 132221439,
 427305472,
 52972034,
 32369158,
 155920911,
 32762383,
 260590105,
 344508954,
 447711769,
 414009884,
 184986142,
 81644065,
 270928420,
 146254373,
 367102502,
 170674725,
 27748912,
 17132082,
 443673142,
 31451704,
 187886138,
 477579837,
 486173249,
 134179394,
 380709450,
 307178059,
 383904330,
 33360473,
 152234585,
 476228194,
 451119720,
 283789943,
 35138182,
 275671687,
 389335691,
 36334219,
 26159757,
 271501972,
 35146391,
 439855772,
 491489948,
 496405154,
 490515111,
 254249647,
 242281135,
 198355639,
 480471742,
 408324806,
 369642192,
 258845408,
 253020901,
 213732079,
 90008304,
 64555760,
 383036147,
 488524545,
 362162960,
 347163409,
 13355799,
 81029918,
 495102756,
 513084196,
 9284390,
 13970214,
 391998251,
 344189751,
 31574841,
 135195451,
 69708605,
 466643777,
 139488065,
 359295813,
 62557004,
 78244684,
 266619724,
 441797454,
 441879384,
 120671068,
 253725533,
 360344414,
 180177758,
 413600611,
 502270822,
 252627822,
 51686263,
 375163768,
 164891523,
 512101256,
 144452489,
 86117262,
 96152463,
 134753169,
 16313234,
 341765013,
 377187232,
 151178146,
 257330092,
 318352308,
 431852488,
 133598153,
 17107920,
 192826322,
 341773269,
 154045407,
 134482911,
 304278503,
 31607783,
 473385963,
 481414127,
 122522610,
 479316980,
 134532086,
 222940154,
 140422142,
 237521928,
 32664586,
 134466571,
 368905234,
 311946259,
 253086741,
 210136086,
 389016603,
 427748389,
 153414696,
 218868784,
 136940592,
 173952058,
 71388224,
 445451328,
 150785090,
 344566857,
 482495562,
 121990217,
 122924109,
 388279394,
 134458476,
 477932653,
 33016941,
 218819695,
 134048880,
 365079660,
 430910581,
 254004343,
 120401016,
 134884481,
 119688327,
 115870855,
 433515659,
 368012430,
 219475090,
 505785493,
 139062422,
 256134307,
 38112429,
 99175600,
 284535988,
 484863156,
 117820598,
 16141505,
 14863566,
 137743571,
 40635608,
 65768665,
 255118555,
 23391455,
 76287201,
 33901797,
 195210478,
 122875118,
 499977458,
 27389185,
 429452551,
 435719432,
 427724042,
 150973712,
 390327575,
 8391960,
 13798683,
 390368546,
 391720247,
 104361281,
 182332739,
 146820419,
 81341774,
 469577059,
 141913446,
 484724071,
 228306281,
 392392046,
 8744303,
 154660211,
 314109299,
 481701237,
 92188025,
 314903933,
 369872257,
 357346692,
 376581517,
 23891346,
 253717907,
 202190230,
 74870166,
 440487320,
 172821921,
 255528354,
 275574179,
 387493287,
 224333225,
 232156592,
 478064054,
 334261692,
 37555654,
 483503569,
 431631825,
 274959831,
 6442460,
 346426845,
 504720865,
 147688929,
 446041573,
 75918840,
 363998714,
 364129790,
 502238723,
 28093957,
 116837894,
 507825676,
 84364816,
 424988179,
 123547160,
 32329241,
 368692765,
 120901157,
 28298790,
 270085675,
 16354862,
 340782645,
 268815927,
 227356219,
 91975229,
 148393538,
 481619526,
 155389517,
 346205773,
 210030159,
 12176985,
 36515426,
 283930214,
 42536551,
 503172711,
 365112936,
 14519919,
 216559220,
 67890805,
 24358535,
 213044873,
 134950544,
 273428115,
 81030806,
 60984985,
 462704283,
 431312539,
 38760092,
 255381153,
 122539703,
 25079480,
 62254778,
 174591675,
 135876285,
 31354561,
 33353416,
 253906635,
 415870667,
 159125216,
 361369315,
 38489831,
 143765235,
 136171253,
 74174206,
 184995582,
 10948359,
 122851093,
 239103766,
 357855001,
 191876889,
 119435044,
 216788778,
 68407087,
 124235570,
 16305981,
 141709123,
 366350150,
 28520266,
 440389462,
 355651416,
 412503901,
 252546909,
 480505701,
 486354792,
 67751789,
 344592238,
 4370287,
 214216573,
 37826438,
 135139208,
 204345229,
 346664852,
 309276569,
 271708060,
 268267430,
 216420263,
 484609966,
 362835892,
 485322683,
 352456636,
 75501502,
 476147646,
 271019968,
 25661378,
 505728974,
 496242639,
 149475280,
 343519191,
 92999641,
 291049434,
 35065821,
 50827230,
 205549539,
 67760109,
 16732145,
 77336568,
 273641474,
 437776387,
 5484547,
 15364103,
 86593544,
 255864846,
 152465459,
 254029882,
 480645182,
 75870270,
 444100672,
 25751619,
 473624659,
 445960276,
 398331994,
 162836571,
 275730527,
 141946979,
 198619236,
 441856110,
 219877497,
 62566523,
 345854076,
 136310911,
 409866370,
 42791050,
 32788618,
 358379660,
 385093779,
 138711188,
 34336928,
 228257955,
 262492325,
 226308262,
 74428597,
 113103031,
 149745848,
 89551033,
 293884097,
 503091420,
 90558686,
 475885805,
 221393134,
 25407738,
 88387835,
 53424379,
 93802749,
 91083015,
 379228424,
 254120201,
 398479630,
 495874322,
 226988320,
 183996707,
 360943908,
 441700645,
 31977766,
 118010150,
 224940329,
 424341808,
 145150257,
 477442356,
 104403257,
 440865097,
 256110924,
 365957464,
 491589985,
 453095782,
 286863721,
 474157418,
 265941355,
 118313327,
 82071920,
 216953208,
 42479993,
 233927034,
 371954043,
 86307195,
 109605250,
 149508483,
 471511431,
 120762761,
 434835869,
 433729959,
 31445419,
 59625914,
 503583162,
 195146173,
 25366975,
 138424770,
 383087046,
 414011848,
 14701001,
 81097163,
 42643915,
 365662667,
 377508303,
 413798885,
 25088485,
 448451049,
 256995819,
 251310573,
 15651309,
 473027057,
 13767153,
 136229363,
 375140857,
 133468667,
 392655356,
 15766013,
 513192443,
 149189121,
 73273859,
 152556036,
 14987780,
 310702598,
 434156040,
 119525911,
 302166553,
 484225564,
 392606237,
 276591134,
 485380639,
 32707103,
 15438390,
 359232065,
 362000966,
 253866575,
 122712655,
 90919506,
 465654354,
 27071059,
 159937109,
 411578966,
 168858204,
 79573598,
 94638689,
 482005601,
 472953449,
 122147435,
 117797484,
 469299825,
 374657651,
 370774647,
 284856960,
 397726342,
 362476167,
 ...}

In [25]:
duplicates = list(duplicates)
duplicates

[113942534,
 122888199,
 26943499,
 164446223,
 66469905,
 408363026,
 255549457,
 456515606,
 68296729,
 477855772,
 122978343,
 92684331,
 52682799,
 84238384,
 302071856,
 120135740,
 117088327,
 403873869,
 346169421,
 26386511,
 51069009,
 436478034,
 248725588,
 14663767,
 44146781,
 358834274,
 170049643,
 212566125,
 449658995,
 341934198,
 37273719,
 35053692,
 256073858,
 321192068,
 421109894,
 78807186,
 13353109,
 151363735,
 442957975,
 3489948,
 481337513,
 512958644,
 361726134,
 149176505,
 480616634,
 11706559,
 442048706,
 69181635,
 217563343,
 252567765,
 426950878,
 362774751,
 102105312,
 103416039,
 63226088,
 207306993,
 454811902,
 120701185,
 124322062,
 254714128,
 228065557,
 332333335,
 218775831,
 82125081,
 486064414,
 8110368,
 449634598,
 475087145,
 123265322,
 13443380,
 443425088,
 31932740,
 276447578,
 209715553,
 134398306,
 112312678,
 136110450,
 378683764,
 345039235,
 433168772,
 276619658,
 359145868,
 455786898,
 414990749,
 445677987,
 321503653,
 80560552,
 302678448,
 38781362,
 94028210,
 36118966,
 142279102,
 28983758,
 122806736,
 499163605,
 397992413,
 360440285,
 513540580,
 14787046,
 352174568,
 133095914,
 278381034,
 38167030,
 113680886,
 6455800,
 445555193,
 170394103,
 33275,
 224207356,
 320373259,
 95429132,
 346128914,
 304792088,
 256172583,
 512336423,
 340754985,
 234324525,
 276054575,
 203768370,
 345588278,
 69657153,
 388039247,
 361095762,
 31244885,
 492044886,
 504529501,
 119472734,
 113779296,
 360981091,
 21693037,
 59843182,
 253952627,
 482763383,
 5841540,
 207381148,
 134668960,
 27525806,
 434332348,
 321610447,
 242754257,
 16401107,
 473219797,
 8315613,
 432251615,
 474227428,
 439739112,
 132629227,
 81642224,
 221586165,
 362210038,
 229737216,
 934656,
 17015555,
 13853444,
 266494726,
 65741577,
 121152267,
 133268248,
 131113752,
 360735512,
 35504923,
 135865121,
 88400676,
 27878184,
 381846315,
 93725484,
 145105714,
 23126834,
 412558132,
 116122432,
 368730951,
 310199123,
 17343324,
 271369053,
 15803229,
 189735779,
 478233444,
 160842607,
 329302896,
 181658487,
 363676536,
 381903736,
 473391994,
 193700731,
 16532347,
 154706824,
 309478282,
 356590484,
 373597079,
 513319834,
 47997851,
 197362595,
 135087018,
 224379826,
 345596851,
 254616501,
 246801335,
 132424634,
 100156352,
 151290817,
 79291330,
 272901059,
 484647893,
 414106584,
 212501470,
 378143711,
 271401953,
 512328674,
 109356006,
 123405296,
 360686585,
 87868415,
 1352705,
 459432964,
 357336092,
 50783262,
 434971683,
 23217191,
 395183144,
 116589607,
 500368439,
 429343799,
 53126228,
 272974943,
 385238118,
 392217714,
 273040504,
 120095867,
 343278716,
 273056897,
 135136388,
 67429514,
 20808845,
 24659091,
 35898523,
 435135644,
 412099745,
 12346543,
 133964985,
 480085178,
 506102971,
 271746238,
 303228099,
 228295878,
 484951240,
 151700683,
 301352146,
 490038485,
 144393442,
 484410594,
 486073586,
 483673336,
 73704709,
 321201414,
 475358484,
 15680806,
 456246567,
 463029544,
 363324711,
 410617133,
 157459766,
 388908356,
 473720139,
 136480080,
 360277331,
 370181467,
 275793262,
 382133614,
 34219378,
 409363827,
 347301238,
 485614977,
 440296840,
 81429911,
 35358112,
 270411175,
 361899434,
 5121455,
 461850039,
 343270842,
 98764219,
 53233089,
 32056769,
 483837386,
 222512593,
 475858386,
 72738260,
 321766868,
 99468760,
 482280942,
 397477360,
 3810802,
 38708725,
 291898871,
 493831672,
 154707454,
 340379136,
 448701957,
 381339144,
 254748171,
 15386125,
 34186767,
 274761246,
 365643297,
 75646503,
 466011688,
 292988457,
 304965164,
 374793778,
 271582775,
 385566264,
 482420284,
 374670915,
 358991429,
 270583368,
 13731417,
 69232217,
 195110492,
 50112105,
 269379178,
 258197100,
 485647981,
 369313390,
 53790323,
 378914422,
 14665336,
 142313082,
 275662473,
 283240073,
 118621833,
 37856923,
 11904669,
 321652383,
 313919141,
 398124711,
 342222504,
 46982828,
 83928775,
 506046161,
 255174360,
 225199835,
 482920165,
 73090795,
 397493997,
 122627831,
 345188091,
 484861692,
 216499972,
 77711113,
 415696655,
 383076115,
 447858461,
 432170782,
 80578340,
 124331814,
 13682478,
 476284718,
 231171898,
 430802747,
 252585788,
 499648319,
 343934784,
 217859929,
 480847713,
 115812193,
 427829100,
 391726959,
 257230704,
 33711986,
 15828855,
 480167801,
 60704634,
 38897531,
 138495868,
 322340730,
 314288005,
 303204233,
 14903188,
 16983956,
 137013146,
 139700128,
 223659944,
 366340015,
 268249014,
 15665080,
 275376056,
 396330944,
 37382088,
 103483342,
 87828434,
 418957274,
 303433692,
 283715559,
 321415144,
 27142124,
 197257197,
 512518132,
 440731639,
 137086968,
 381601786,
 223086589,
 464455685,
 443951109,
 52627462,
 309471244,
 204212236,
 143607827,
 3131412,
 86820883,
 137750551,
 226740248,
 322258969,
 482650140,
 484386847,
 455165984,
 17074216,
 275646510,
 346900529,
 71493683,
 119621685,
 276670523,
 159500360,
 34031692,
 242796621,
 78596175,
 158492753,
 136161362,
 194062427,
 436398187,
 46663799,
 253683838,
 134989950,
 282609792,
 497502334,
 440993924,
 132302989,
 214378642,
 227149974,
 347138203,
 114747547,
 428451999,
 359475361,
 216598692,
 38152357,
 376187051,
 223045812,
 386574517,
 148334774,
 485804215,
 267258038,
 119449786,
 210921670,
 369871060,
 232851669,
 73132249,
 408094938,
 221030622,
 398584038,
 415746281,
 141969644,
 16885998,
 132393203,
 427534585,
 15419643,
 440469758,
 270829825,
 361900290,
 148121865,
 4327691,
 231590157,
 350906637,
 344582417,
 83519768,
 275687706,
 75983138,
 433801510,
 491268392,
 114133296,
 256665906,
 96971059,
 426453302,
 387852605,
 384887114,
 221669711,
 39414101,
 392866134,
 219138391,
 371845471,
 343132515,
 8939880,
 373492073,
 380045679,
 136661375,
 253364610,
 50407813,
 27593118,
 233949599,
 80292259,
 17140134,
 218302888,
 134195626,
 364038579,
 67824058,
 345532862,
 463776190,
 45722048,
 394398144,
 231844303,
 145033681,
 307145170,
 469731798,
 160541146,
 170093021,
 28756450,
 273353189,
 475523557,
 57280998,
 10693095,
 81291757,
 398068209,
 378243569,
 224209404,
 132221439,
 427305472,
 52972034,
 32369158,
 155920911,
 32762383,
 260590105,
 344508954,
 447711769,
 414009884,
 184986142,
 81644065,
 270928420,
 146254373,
 367102502,
 170674725,
 27748912,
 17132082,
 443673142,
 31451704,
 187886138,
 477579837,
 486173249,
 134179394,
 380709450,
 307178059,
 383904330,
 33360473,
 152234585,
 476228194,
 451119720,
 283789943,
 35138182,
 275671687,
 389335691,
 36334219,
 26159757,
 271501972,
 35146391,
 439855772,
 491489948,
 496405154,
 490515111,
 254249647,
 242281135,
 198355639,
 480471742,
 408324806,
 369642192,
 258845408,
 253020901,
 213732079,
 90008304,
 64555760,
 383036147,
 488524545,
 362162960,
 347163409,
 13355799,
 81029918,
 495102756,
 513084196,
 9284390,
 13970214,
 391998251,
 344189751,
 31574841,
 135195451,
 69708605,
 466643777,
 139488065,
 359295813,
 62557004,
 78244684,
 266619724,
 441797454,
 441879384,
 120671068,
 253725533,
 360344414,
 180177758,
 413600611,
 502270822,
 252627822,
 51686263,
 375163768,
 164891523,
 512101256,
 144452489,
 86117262,
 96152463,
 134753169,
 16313234,
 341765013,
 377187232,
 151178146,
 257330092,
 318352308,
 431852488,
 133598153,
 17107920,
 192826322,
 341773269,
 154045407,
 134482911,
 304278503,
 31607783,
 473385963,
 481414127,
 122522610,
 479316980,
 134532086,
 222940154,
 140422142,
 237521928,
 32664586,
 134466571,
 368905234,
 311946259,
 253086741,
 210136086,
 389016603,
 427748389,
 153414696,
 218868784,
 136940592,
 173952058,
 71388224,
 445451328,
 150785090,
 344566857,
 482495562,
 121990217,
 122924109,
 388279394,
 134458476,
 477932653,
 33016941,
 218819695,
 134048880,
 365079660,
 430910581,
 254004343,
 120401016,
 134884481,
 119688327,
 115870855,
 433515659,
 368012430,
 219475090,
 505785493,
 139062422,
 256134307,
 38112429,
 99175600,
 284535988,
 484863156,
 117820598,
 16141505,
 14863566,
 137743571,
 40635608,
 65768665,
 255118555,
 23391455,
 76287201,
 33901797,
 195210478,
 122875118,
 499977458,
 27389185,
 429452551,
 435719432,
 427724042,
 150973712,
 390327575,
 8391960,
 13798683,
 390368546,
 391720247,
 104361281,
 182332739,
 146820419,
 81341774,
 469577059,
 141913446,
 484724071,
 228306281,
 392392046,
 8744303,
 154660211,
 314109299,
 481701237,
 92188025,
 314903933,
 369872257,
 357346692,
 376581517,
 23891346,
 253717907,
 202190230,
 74870166,
 440487320,
 172821921,
 255528354,
 275574179,
 387493287,
 224333225,
 232156592,
 478064054,
 334261692,
 37555654,
 483503569,
 431631825,
 274959831,
 6442460,
 346426845,
 504720865,
 147688929,
 446041573,
 75918840,
 363998714,
 364129790,
 502238723,
 28093957,
 116837894,
 507825676,
 84364816,
 424988179,
 123547160,
 32329241,
 368692765,
 120901157,
 28298790,
 270085675,
 16354862,
 340782645,
 268815927,
 227356219,
 91975229,
 148393538,
 481619526,
 155389517,
 346205773,
 210030159,
 12176985,
 36515426,
 283930214,
 42536551,
 503172711,
 365112936,
 14519919,
 216559220,
 67890805,
 24358535,
 213044873,
 134950544,
 273428115,
 81030806,
 60984985,
 462704283,
 431312539,
 38760092,
 255381153,
 122539703,
 25079480,
 62254778,
 174591675,
 135876285,
 31354561,
 33353416,
 253906635,
 415870667,
 159125216,
 361369315,
 38489831,
 143765235,
 136171253,
 74174206,
 184995582,
 10948359,
 122851093,
 239103766,
 357855001,
 191876889,
 119435044,
 216788778,
 68407087,
 124235570,
 16305981,
 141709123,
 366350150,
 28520266,
 440389462,
 355651416,
 412503901,
 252546909,
 480505701,
 486354792,
 67751789,
 344592238,
 4370287,
 214216573,
 37826438,
 135139208,
 204345229,
 346664852,
 309276569,
 271708060,
 268267430,
 216420263,
 484609966,
 362835892,
 485322683,
 352456636,
 75501502,
 476147646,
 271019968,
 25661378,
 505728974,
 496242639,
 149475280,
 343519191,
 92999641,
 291049434,
 35065821,
 50827230,
 205549539,
 67760109,
 16732145,
 77336568,
 273641474,
 437776387,
 5484547,
 15364103,
 86593544,
 255864846,
 152465459,
 254029882,
 480645182,
 75870270,
 444100672,
 25751619,
 473624659,
 445960276,
 398331994,
 162836571,
 275730527,
 141946979,
 198619236,
 441856110,
 219877497,
 62566523,
 345854076,
 136310911,
 409866370,
 42791050,
 32788618,
 358379660,
 385093779,
 138711188,
 34336928,
 228257955,
 262492325,
 226308262,
 74428597,
 113103031,
 149745848,
 89551033,
 293884097,
 503091420,
 90558686,
 475885805,
 221393134,
 25407738,
 88387835,
 53424379,
 93802749,
 91083015,
 379228424,
 254120201,
 398479630,
 495874322,
 226988320,
 183996707,
 360943908,
 441700645,
 31977766,
 118010150,
 224940329,
 424341808,
 145150257,
 477442356,
 104403257,
 440865097,
 256110924,
 365957464,
 491589985,
 453095782,
 286863721,
 474157418,
 265941355,
 118313327,
 82071920,
 216953208,
 42479993,
 233927034,
 371954043,
 86307195,
 109605250,
 149508483,
 471511431,
 120762761,
 434835869,
 433729959,
 31445419,
 59625914,
 503583162,
 195146173,
 25366975,
 138424770,
 383087046,
 414011848,
 14701001,
 81097163,
 42643915,
 365662667,
 377508303,
 413798885,
 25088485,
 448451049,
 256995819,
 251310573,
 15651309,
 473027057,
 13767153,
 136229363,
 375140857,
 133468667,
 392655356,
 15766013,
 513192443,
 149189121,
 73273859,
 152556036,
 14987780,
 310702598,
 434156040,
 119525911,
 302166553,
 484225564,
 392606237,
 276591134,
 485380639,
 32707103,
 15438390,
 359232065,
 362000966,
 253866575,
 122712655,
 90919506,
 465654354,
 27071059,
 159937109,
 411578966,
 168858204,
 79573598,
 94638689,
 482005601,
 472953449,
 122147435,
 117797484,
 469299825,
 374657651,
 370774647,
 284856960,
 397726342,
 362476167,
 ...]

In [30]:
# remove the duplicates from types
#types_one_hot_copy = types_one_hot.copy()
types_one_hot = types_one_hot[~types_one_hot.id.isin(duplicates)]
types_one_hot = types_one_hot.reset_index(drop=True)
types_one_hot.shape

(116448, 65)

In [32]:
# sanity check for duplicates 
types_ids = types_one_hot.id.tolist()
types_ids.extend(subclasses_one_hot.id.tolist())
types_ids = set(types_ids)
len(types_ids)

120246

In [33]:
len(types_one_hot_copy) + len(subclasses_one_hot)

120246

In [34]:
# export for future uses
types_one_hot.to_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/types_one_hot_encoded_wo_duplicates.csv', sep=";")


# Split subclasses into train and test

In [35]:
# get train and testsplit
subclasses_one_hot_train, subclasses_one_hot_test = util_preprocessing.train_test_split(subclasses_one_hot, test_size=0.05)
print('Shape train: {} || Shape test: {}'.format(subclasses_one_hot_train.shape, subclasses_one_hot_test.shape))

Shape train: (3608, 64) || Shape test: (190, 64)

In [23]:
# if session is aborted, read data
subclasses_one_hot_train = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/subclasses_one_hot_train.csv',sep=";")
del subclasses_one_hot_train['Unnamed: 0']

In [9]:
# if session is aborted, read data
subclasses_one_hot_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/test/subclasses_one_hot_test.csv',sep=";")
del subclasses_one_hot_test['Unnamed: 0']

# Split types into train and test

In [37]:
# get train and testsplit
types_one_hot_train, types_one_hot_test = util_preprocessing.train_test_split(types_one_hot, test_size=0.05)
print('Shape train: {} || Shape test: {}'.format(types_one_hot_train.shape, types_one_hot_test.shape))

Shape train: (110625, 65) || Shape test: (5823, 65)

In [31]:
# read if session aborts
types_one_hot_train = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/types_one_hot_train.csv',sep=";")
del types_one_hot_train['Unnamed: 0']

In [32]:
# read if session aborts
types_one_hot_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/test/types_one_hot_test.csv',sep=";")
del types_one_hot_test['Unnamed: 0']

## 1.1.3 Negatives - one hot encoded

In [3]:
# read one hot encoded data
negative_1 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_1_one_hot_encoded.csv', sep=";")
del negative_1['Unnamed: 0']

negative_2 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_2_one_hot_encoded.csv', sep=";")
del negative_2['Unnamed: 0']

negative_3 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_3_one_hot_encoded.csv', sep=";")
del negative_3['Unnamed: 0']

negative_4 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_4_one_hot_encoded.csv', sep=";")
del negative_4['Unnamed: 0']

negative_5 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_5_one_hot_encoded.csv', sep=";")
del negative_5['Unnamed: 0']

negative_6 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_6_one_hot_encoded.csv', sep=";")
del negative_6['Unnamed: 0']

In [4]:
# stack data all together
negatives = pd.concat([negative_1, negative_2, negative_3, negative_4, negative_5, negative_6])

negatives.shape

(6842160, 65)

In [5]:
# check for duplicates
negatives['_id'].value_counts()

381683711    1
313057229    1
296730401    1
187674403    1
284137252    1
            ..
483454823    1
495146515    1
420501360    1
344999794    1
490735617    1
Name: _id, Length: 6842160, dtype: int64

In [5]:
# get train and testsplit
negatives_one_hot_train, negatives_one_hot_test = util_preprocessing.train_test_split(negatives, test_size=0.05)
print('Shape train: {} || Shape test: {}'.format(negatives_one_hot_train.shape, negatives_one_hot_test.shape))

Shape train: (6500052, 65) || Shape test: (342108, 65)

In [4]:
# read data if session is aborted
negatives_one_hot_train = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/negatives_one_hot_train.csv',sep=";")
del negatives_one_hot_train['Unnamed: 0']

In [11]:
# read data if session is aborted
negatives_one_hot_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/test/negatives_one_hot_test.csv',sep=";")
del negatives_one_hot_test['Unnamed: 0']

In [4]:
negatives_one_hot_train.head()

,_id,instance,class,frequency,pidspread,pldspread,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,152213552,loitering,work,2,2,2,"['p8a', 'p25']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,274689744,prairie,flavor,1,1,1,['p5'],0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,262242916,dam,tributary,69,9,34,"['p12a', 'p8a', 'p8a', 'p12a', 'p5', 'p3a', 'p...",1,0,0,...,0,0,0,1,0,0,1,0,1,0
3,236023688,god,paradox,63,7,40,"['p10p28ap8a', 'p8a', 'p8a', 'p8a', 'p5', 'p5'...",0,1,0,...,0,0,0,1,0,0,1,1,1,0
4,324038699,slope,fan,10,6,9,"['p21a', 'p2', 'p15a', 'p8c', 'p8a', 'p8b', 'p...",0,0,0,...,0,0,0,0,0,0,1,1,1,0

## 1.2 Downsampling to subclasses

Downsample to the smallest class.

In [5]:
# downsample to subclass
downsampled_training_data = util_preprocessing.downsample_to_subclasses(subclasses_one_hot_train, types_one_hot_train, negatives_one_hot_train)

In [6]:
# Sanity Check # 1
print(downsampled_training_data.shape)

(10824, 66)

In [7]:
# Sanity Check # 2
print(downsampled_training_data.label.value_counts())

2    3608
1    3608
0    3608
Name: label, dtype: int64

## 1.3 Get testing set

For the test set, the label needs to be appended, the data shuffled and for subclasses, the remaining pid generated. The test set remains the same

In [12]:
# get testing data
test_one_hot_encoded = util_preprocessing.get_testing_set(subclasses_one_hot_test, types_one_hot_test, negatives_one_hot_test)

In [13]:
# sanity check # 1
test_one_hot_encoded.shape

(348121, 66)

In [14]:
# sanity check # 2
test_one_hot_encoded.label.value_counts()

2    342108
1      5823
0       190
Name: label, dtype: int64

## 1.4 Upsampling to types class

In [16]:
# upsample to types class # TODO: check for util_preprocessing
upsampled_training_data = util_preprocessing.upsample_to_types(subclasses_one_hot_train, types_one_hot_train, negatives_one_hot_train)

In [17]:
# Sanity Check 1
upsampled_training_data.shape

(331875, 66)

In [18]:
# Sanity Check 2
upsampled_training_data.label.value_counts()

2    110625
1    110625
0    110625
Name: label, dtype: int64

In [19]:
# sanity checks correct -> export data
# upsampled_training_data.to_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/upsampled_training_data.csv',sep=";")

In [11]:
# read in upsampled data
upsampled_training_data = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/upsampled_training_data.csv',sep=";")
del upsampled_training_data['Unnamed: 0']

## 1.6 Count based

## 1.6.1 Subclasses - count based

In [20]:
# read count based data
subclasses_count = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/subclasses_count_based.csv', sep=";")
del subclasses_count['Unnamed: 0']

subclasses_count.head()

,subClass,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,2,0,0,0,0,0,1,2,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",13,0,0,...,1,0,0,2,0,0,6,6,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",15,0,0,...,5,0,8,1,1,0,17,5,0,0

In [21]:
# get shape for sanity check
subclasses_count.shape # (3798, 64)

(3798, 64)

In [24]:
# get train and testsplit with same ids as in subclasses_one_hot
subclasses_count_train = subclasses_count[subclasses_count['id'].isin(subclasses_one_hot_train['id'].values)]

In [25]:
subclasses_count_test = subclasses_count[subclasses_count['id'].isin(subclasses_one_hot_test['id'].values)]

In [5]:
print('Shape train: {} || Shape test: {}'.format(subclasses_count_train.shape, subclasses_count_test.shape))

Shape train: (3608, 64) || Shape test: (190, 64)

In [4]:
# if session is aborted, read data
subclasses_count_train = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/train/subclasses_count_train.csv',sep=";")
del subclasses_count_train['Unnamed: 0']

subclasses_count_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/test/subclasses_count_test.csv',sep=";")
del subclasses_count_test['Unnamed: 0']

### 1.6.2 Types - count based

In [28]:
# read count data
types_count = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/types_count_based.csv', sep=";")
del types_count['Unnamed: 0']

types_count.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,1988,album,4,2,4,89520215,"['p3a', 'p5', 'p5', 'p3a']",0,0,0,...,0,0,0,2,0,0,0,0,0,0
1,196,year,1,1,1,250210719,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,53,year,2,1,1,333976287,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2007,year,104,6,57,179643001,"['p25p8ap8b', 'p8b', 'p8b', 'p25', 'p8b', 'p8b...",1,0,0,...,0,0,0,0,0,0,6,74,0,0
4,2,aircraft,21,4,16,472381603,"['p8b', 'p8b', 'p8b', 'p3a', 'p8b', 'p5', 'p8b...",0,0,0,...,0,0,0,1,0,0,3,7,0,0

In [29]:
# get shape for sanity check
types_count.shape # (118, 167 , 65)

(118167, 65)

In [34]:
# get train and testsplit with same ids as in types_one_hot
types_count_train = types_count[types_count['id'].isin(types_one_hot_train['id'].values)]

In [35]:
types_count_test = types_count[types_count['id'].isin(types_one_hot_test['id'].values)]

In [3]:
# get train and testsplit
print('Shape train: {} || Shape test: {}'.format(types_count_train.shape, types_count_test.shape))

Shape train: (110626, 65) || Shape test: (5823, 65)

In [2]:
# if session is aborted, read data
types_count_train = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/train/types_count_train.csv',sep=";")
del types_count_train['Unnamed: 0']

types_count_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/test/types_count_test.csv',sep=";")
del types_count_test['Unnamed: 0']

### 1.6.2 Negatives - count based

In [2]:
# read one hot encoded data
negative_1 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_1_count_based.csv', sep=";")
del negative_1['Unnamed: 0']

negative_2 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_2_count_based.csv', sep=";")
del negative_2['Unnamed: 0']

negative_3 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_3_count_based.csv', sep=";")
del negative_3['Unnamed: 0']

negative_4 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_4_count_based.csv', sep=";")
del negative_4['Unnamed: 0']

negative_5 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_5_count_based.csv', sep=";")
del negative_5['Unnamed: 0']

negative_6 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_6_count_based.csv', sep=";")
del negative_6['Unnamed: 0']

negative_7 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_7_count_based.csv', sep=";")
del negative_7['Unnamed: 0']

negative_8 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/negatives_8_count_based.csv', sep=";")
del negative_8['Unnamed: 0']

In [3]:
# stack data all together
negatives = pd.concat([negative_1, negative_2, negative_3, 
                       negative_4, negative_5, negative_6, 
                       negative_7, negative_8])

In [8]:
# negative train and test indices
negative_train_indices = negatives_one_hot_train['_id'].values
negative_test_indices = negatives_one_hot_test['_id'].values

In [9]:
# delete one hot encoded train and test from memory
del negatives_one_hot_train
del negatives_one_hot_test

In [18]:
# get tests
negatives_count_test_1 = negative_1[negative_1['_id'].isin(negative_test_indices)]
negatives_count_test_2 = negative_2[negative_2['_id'].isin(negative_test_indices)]
negatives_count_test_3 = negative_3[negative_3['_id'].isin(negative_test_indices)]
negatives_count_test_4 = negative_4[negative_4['_id'].isin(negative_test_indices)]
negatives_count_test_5 = negative_5[negative_5['_id'].isin(negative_test_indices)]
negatives_count_test_6 = negative_6[negative_6['_id'].isin(negative_test_indices)]
negatives_count_test_7 = negative_7[negative_7['_id'].isin(negative_test_indices)]
negatives_count_test_8 = negative_8[negative_8['_id'].isin(negative_test_indices)]

In [19]:
# stack test data all together
negatives_count_test = pd.concat([negatives_count_test_1, negatives_count_test_2,
                                   negatives_count_test_3, negatives_count_test_4, 
                                   negatives_count_test_5, negatives_count_test_6, 
                                   negatives_count_test_7, negatives_count_test_8])
negatives_count_test = negatives_count_test.reset_index(drop=True)
negatives_count_test.shape

(342108, 65)

In [39]:
# read in memory for future uses
negatives_count_test = pd.read_csv('/path/to//9_FINAL/data/machine_learning/count_based/test/negatives_count_test.csv',sep=";")
del negatives_count_test['Unnamed: 0']
negatives_id = negatives_count_test['_id']

In [40]:
negatives_count_test.shape

(342108, 65)

In [ ]:
# subset to train
negatives_count_train = negatives[~negatives['_id'].isin(negatives_id)]
negatives_count_train.shape

In [ ]:
# if session is aborted, read data
negatives_count_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/test/negatives_count_test.csv',sep=";")
del negatives_count_test['Unnamed: 0']

In [7]:
negatives_count_train.head()

,_id,instance,class,frequency,pidspread,pldspread,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,1643854,1866,railway,1,1,1,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1648888,1960,library,6,5,6,"['p23a', 'p12a', 'p20a', 'p8a', 'p8b', 'p8a']",0,0,0,...,0,0,0,0,0,0,2,1,0,0
2,1678428,1975,epithet,1,1,1,['p5'],0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1678435,2000,habitat,1,1,1,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1680401,1920,chemist,1,1,1,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0

## 1.7 Downsampling to subclasses

In [7]:
# read in downsampled training data
downsampled_training_data = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/downsampled_training_data.csv',sep=";")
del downsampled_training_data['Unnamed: 0']

In [8]:
# get label
downsampled_training_data_label = downsampled_training_data['label']

In [9]:
downsampled_training_data.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,a,bacteria,1,1,1,472415879,['p1'],1,0,0,...,0,0,0,0,0,0,0,0,0,2
1,bee,insect,5163,40,2496,214216573,['p7p6p5p4p2p1p43p26p15ap25p24p20cp20bp20dp27a...,1,1,1,...,0,1,1,1,1,1,1,1,1,0
2,dubai,camp,2,1,1,199041901,"['p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,2
3,gruiformes,species,1,1,1,220552798,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,gabardine,material,17,8,14,411222195,"['p5p10p8ap28bp20a', 'p5', 'p8b', 'p10', 'p3a'...",0,1,0,...,0,0,1,0,0,1,1,1,0,1

In [12]:
# unique pids
unique_pids = util_pids.get_all_different_pids(upsampled_training_data, 'pids')
len(unique_pids)

58

In [13]:
# get count pids
downsampled_count_data = downsampled_training_data[['instance', 'class', 'frequency', 'pidspread', 'pldspread', 'id', 'pids']]
downsampled_count_data = util_pids.append_count_pids_to_data(downsampled_count_data, unique_pids, 'pids')
downsampled_count_data.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,a,bacteria,1,1,1,472415879,[p1],1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,bee,insect,5163,40,2496,214216573,[p7p6p5p4p2p1p43p26p15ap25p24p20cp20bp20dp27ap...,401,7,4,...,49,0,1,239,3,2,46,5,28,1
2,dubai,camp,2,1,1,199041901,"[p8a, p8a]",0,0,0,...,0,0,0,0,0,0,2,0,0,0
3,gruiformes,species,1,1,1,220552798,[p5],0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,gabardine,material,17,8,14,411222195,"[p5p10p8ap28bp20a, p5, p8b, p10, p3a, p5, p8a,...",0,2,0,...,0,0,0,4,0,0,3,1,1,0

In [14]:
# append label
downsampled_count_data['label'] = downsampled_training_data_label

In [16]:
# Sanity Check # 1
print(downsampled_count_data.shape)

(10824, 66)

In [18]:
# Sanity Check # 2
print(downsampled_count_data.label.value_counts())

2    3608
1    3608
0    3608
Name: label, dtype: int64

In [19]:
# export for future uses
downsampled_count_data.to_csv('/path/to/9_FINAL/data/machine_learning/count_based/train/downsampled_training_data.csv',sep=";")

## 1.8 Get testing set

In [20]:
# get test set
test_count_encoded = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/test/test_data.csv',sep=";")
del test_count_encoded['Unnamed: 0']

In [21]:
# get label
test_count_encoded_label = test_count_encoded['label']

In [22]:
# get count pids
test_count_encoded = test_count_encoded[['instance', 'class', 'frequency', 'pidspread', 'pldspread', 'id', 'pids']]
test_count_encoded = util_pids.append_count_pids_to_data(test_count_encoded, unique_pids, 'pids')
test_count_encoded.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,israel,egg,3,2,2,404684728,"[p23b, p23b, p28a]",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,impossibility,game,1,1,1,146197959,[p26],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,choice,jungler,2,2,2,448333013,"[p8a, p8c]",0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,ware,artist,134,10,93,306690324,"[p5p10p8ap3a, p5p10p27ap3a, p8a, p5p8ap43, p5p...",1,8,0,...,0,0,1,29,0,0,25,0,0,0
4,wardriving,thing,3,2,3,474866019,"[p8a, p5]",0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [23]:
# append label
test_count_encoded['label'] = test_count_encoded_label

In [24]:
# sanity check # 1
test_count_encoded.shape

(348121, 66)

In [25]:
# sanity check # 2
test_count_encoded.label.value_counts()

2    342108
1      5823
0       190
Name: label, dtype: int64

In [26]:
# sanity checks correct -> export data
test_count_encoded.to_csv('/path/to/9_FINAL/data/machine_learning/count_based/test/test_data.csv',sep=";")

## 1.9 Upsampled data

In [27]:
# read in downsampled training data
upsampled_training_data = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/upsampled_training_data.csv',sep=";")
del upsampled_training_data['Unnamed: 0']

In [28]:
# get label
upsampled_count_data_label = upsampled_training_data['label']

In [29]:
# get count pids
upsampled_count_data = upsampled_training_data[['instance', 'class', 'frequency', 'pidspread', 'pldspread', 'id', 'pids']]
upsampled_count_data = util_pids.append_count_pids_to_data(upsampled_count_data, unique_pids, 'pids')
upsampled_count_data.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,glomalin,biomolecule,2,1,1,82829299,[p5],0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,endocrinologist,anesthesiologist,1,1,1,187218903,[p1],1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,election,event,1657,37,1039,362225264,[p6p5p4p2p1p8dp10p12ap8ap8cp8bp43p16p15ap23dp2...,87,14,0,...,14,0,8,332,1,0,167,161,49,32
3,econometrician,person,1,1,1,54195916,[p8a],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,restaurant,place,13738,44,5915,475994031,[p7p6p5p4p2p1p12ap12cp43p26p15ap25p20cp20bp20d...,698,30,3,...,178,0,80,422,27,4,2730,452,152,14

In [30]:
# append label
upsampled_count_data['label'] = upsampled_count_data_label

In [31]:
# Sanity Check 1
upsampled_training_data.shape

(331875, 66)

In [32]:
# Sanity Check 2
upsampled_training_data.label.value_counts()

2    110625
1    110625
0    110625
Name: label, dtype: int64

In [33]:
# sanity checks correct -> export data
upsampled_training_data.to_csv('/path/to/9_FINAL/data/machine_learning/count_based/train/upsampled_training_data.csv',sep=";")

## 1.10 Get upsampled training data count based with substrings feature

In [14]:
# read in data 
upsampled_training_data = pd.read_csv('/path/to/INTENSO/9_FINAL/data/machine_learning/count_based/train/upsampled_training_data.csv',sep=";")
del upsampled_training_data['Unnamed: 0']
upsampled_training_data.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,pseudocereal,species,1,1,1,109605250,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,floetry,artist,8,4,8,269438746,"['p5p10', 'p5', 'p1', 'p3a', 'p5']",1,1,0,...,0,0,3,0,0,0,0,0,0,2
2,lecanoromycete,species,1,1,1,299152197,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,printmaker,agent,1,1,1,475821729,['p1'],1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,cube,fuel,9,3,8,173067991,"['p4', 'p8a', 'p28d', 'p8a']",0,0,0,...,0,0,0,0,0,2,0,0,0,2

In [15]:
# Sanity check
upsampled_training_data.shape # (342,753 , 66)

(342753, 66)

In [6]:
# append column with check if is substring
upsampled_training_data_is_substring = util_pids.append_substring_column(upsampled_training_data, 'instance', 'class')
upsampled_training_data_is_substring.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label,is_substring
0,pseudocereal,species,1,1,1,109605250,['p5'],0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,floetry,artist,8,4,8,269438746,"['p5p10', 'p5', 'p1', 'p3a', 'p5']",1,1,0,...,0,3,0,0,0,0,0,0,2,0
2,lecanoromycete,species,1,1,1,299152197,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,printmaker,agent,1,1,1,475821729,['p1'],1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,cube,fuel,9,3,8,173067991,"['p4', 'p8a', 'p28d', 'p8a']",0,0,0,...,0,0,0,0,2,0,0,0,2,0

In [7]:
# sanity check
upsampled_training_data_is_substring[upsampled_training_data_is_substring['is_substring'] == 1]

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label,is_substring
11,caliphate,caliphate,15,6,12,354315129,"['p2p8b', 'p20c', 'p12a', 'p8a', 'p3a', 'p2', ...",0,0,0,...,0,0,0,0,5,2,0,0,1,1
205,glycolipid,glycolipid,7,5,6,399807134,"['p8a', 'p23d', 'p2', 'p8a', 'p3a', 'p3a', 'p2...",0,0,0,...,0,0,0,0,2,0,0,0,1,1
295,physician,physician,1402,36,773,353580354,['p6p5p4p2p1p10p12ap8ap8bp43p36p26p21bp34p23dp...,91,2,1,...,1,41,12,0,151,29,2,1,1,1
745,aerogel,aerogel,71,13,18,437508175,"['p26p5p23d', 'p8ap27b', 'p5p3a', 'p5p2', 'p5p...",1,0,0,...,0,18,0,0,6,0,0,0,1,1
791,l,trial,7,5,7,131707572,"['p8ap8b', 'p34', 'p3a', 'p1', 'p1', 'p8b']",2,0,0,...,0,0,0,0,1,2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342242,telomere,telomere,13,8,12,58536454,"['p8a', 'p2', 'p21d', 'p36', 'p23d', 'p3a', 'p...",0,0,0,...,0,0,0,0,1,0,1,0,1,1
342415,periodate,periodate,37,7,7,352603031,"['p5p4', 'p16p2p24p20c', 'p5', 'p8a', 'p5', 'p...",0,0,0,...,0,7,0,0,3,0,0,0,1,1
342466,mud,mud,119,21,76,280026873,"['p5p34p2p1p21cp23bp11p8ap27bp20a', 'p5', 'p34...",1,0,2,...,2,14,0,0,30,8,0,1,1,1
342506,tumbleweed,tumbleweed,1,1,1,399449985,['p5'],0,0,0,...,0,1,0,0,0,0,0,0,1,1
342671,diode,diode,1842,35,143,373435268,"['p26p16p5p34p23dp23bp12ap8ap28bp8bp3ap43', 'p...",10,3,1,...,3,304,0,0,538,9,6,3,1,1

In [13]:
# export for future usages
upsampled_training_data_is_substring.to_csv('/path/to/9_FINAL/data/machine_learning/count_based/train/upsampled_training_data_is_substring.csv',sep=";")

## 1.11 Get upsampled training data one hot encoded with substrings feature

In [17]:
# export for future uses
upsampled_training_data = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/train/upsampled_training_data.csv',sep=";")
del upsampled_training_data['Unnamed: 0']
upsampled_training_data.shape

(342753, 66)

In [9]:
# append column with check if is substring
upsampled_training_data_is_substring = util_pids.append_substring_column(upsampled_training_data, 'instance', 'class')
upsampled_training_data_is_substring.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label,is_substring
0,receipt,kingdom,1,1,1,429604563,['p26'],0,0,0,...,0,0,0,0,0,0,0,0,2,0
1,persulfate,product,4,2,3,218327406,"['p5', 'p1', 'p1', 'p5']",1,0,0,...,0,1,0,0,0,0,0,0,2,0
2,clone,place,18,5,15,373391915,"['p5p8a', 'p2', 'p8a', 'p8a', 'p1', 'p1', 'p8a...",1,0,0,...,0,1,0,0,1,0,1,0,0,0
3,campmor,retailer,15,3,10,45050491,"['p8a', 'p8a', 'p3a', 'p8a', 'p3a', 'p5', 'p8a...",0,0,0,...,0,1,0,0,1,0,0,0,1,0
4,hydrocortisone,drug,214,10,94,215826199,"['p26p5p1p8ap3a', 'p5', 'p5', 'p5p8ap3a', 'p3a...",1,0,0,...,0,1,0,0,1,1,0,0,1,0

In [19]:
# sanity check
upsampled_training_data_is_substring[upsampled_training_data_is_substring['is_substring'] == 1]

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label,is_substring
109,viroid,viroid,3,3,3,397983657,"['p3a', 'p5', 'p8b']",0,0,0,...,0,1,0,0,0,1,0,0,1,1
203,interrogation,interrogation,62,18,42,82456488,"['p5', 'p12a', 'p34', 'p3a', 'p23a', 'p2', 'p3...",0,0,1,...,1,1,0,0,1,1,0,0,1,1
305,muezzin,muezzin,1,1,1,437770140,['p8a'],0,0,0,...,0,0,0,0,1,0,0,0,1,1
311,eunuch,eunuch,12,7,12,398483254,"['p34p23ap8ap8b', 'p8a', 'p8b', 'p25', 'p2', '...",0,0,0,...,0,0,0,0,1,1,0,0,1,1
330,sash,sash,52,13,33,178966088,"['p1p21dp8a', 'p8d', 'p8a', 'p8a', 'p8b', 'p5'...",1,0,0,...,0,1,0,0,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342305,songwriter,songwriter,87,17,62,400225487,"['p2p23bp8ap8b', 'p3a', 'p8a', 'p43', 'p23d', ...",1,1,0,...,1,1,0,0,1,1,1,1,1,1
342416,guitarist,guitarist,172,23,96,350899359,"['p23dp2p38p20cp20bp8ap3a', 'p23e', 'p3a', 'p2...",1,1,1,...,1,1,0,0,1,1,1,0,1,1
342517,isotope,isotope,173,23,84,428687537,"['p5p1p8a', 'p5', 'p15ap23ap8ap27a', 'p3a', 'p...",1,0,1,...,0,1,0,0,1,0,1,0,1,1
342656,rein,rein,39,11,26,168998757,"['p2p25p20bp3a', 'p8a', 'p8a', 'p8a', 'p5', 'p...",0,0,0,...,0,1,0,0,1,0,1,0,1,1
342674,herbal,herbal,10,6,10,392677572,"['p15ap3a', 'p2', 'p5', 'p3a', 'p3a', 'p12a', ...",1,0,0,...,0,1,0,0,0,0,0,0,1,1