In [1]:
import pandas as pd
import numpy as np
from helper import util_preprocessing, util_pids
import os

# 1.1 One hot encoded

## 1.1.1 Stack subclasses and types together and draw test and train

In [3]:
# read one hot encoded subclass data
subclasses_one_hot = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/subclasses_one_hot_encoded.csv', sep=";")
del subclasses_one_hot['Unnamed: 0']

subclasses_one_hot.head()

,subClass,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,1,0,0,0,0,0,1,1,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",1,0,0,...,1,0,0,1,0,0,1,1,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",1,0,0,...,1,0,1,1,1,0,1,1,0,0

## 1.1.1 Stack subclasses and types together and draw test and train

In [4]:
# read one hot encoded types data
types_one_hot = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/types_one_hot_encoded.csv', sep=";")
del types_one_hot['Unnamed: 0']

types_one_hot.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,1988,album,4,2,4,89520215,"['p3a', 'p5', 'p5', 'p3a']",0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,196,year,1,1,1,250210719,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,53,year,2,1,1,333976287,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2007,year,104,6,57,179643001,"['p25p8ap8b', 'p8b', 'p8b', 'p25', 'p8b', 'p8b...",1,0,0,...,0,0,0,0,0,0,1,1,0,0
4,2,aircraft,21,4,16,472381603,"['p8b', 'p8b', 'p8b', 'p3a', 'p8b', 'p5', 'p8b...",0,0,0,...,0,0,0,1,0,0,1,1,0,0

In [9]:
# get difference between three columns
difference_column = str(set(types_one_hot.columns[7:]).difference(subclasses_one_hot.columns[7:])).replace('{', '')
difference_column = difference_column.replace('}', '')
difference_column = difference_column.replace('\'', '')

In [10]:
# get column position
column_position = types_one_hot.columns.get_loc(difference_column)
print(column_position)

48

In [11]:
# include missing column into subclasses
zero_pattern = [0] * len(subclasses_one_hot)
subclasses_one_hot.insert(loc=column_position, column=difference_column, value=zero_pattern)
subclasses_one_hot.head()

,subClass,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,1,0,0,0,0,0,1,1,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",1,0,0,...,1,0,0,1,0,0,1,1,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",1,0,0,...,1,0,1,1,1,0,1,1,0,0

In [12]:
# change column names of subclasses to match types
subclasses_one_hot.columns = types_one_hot.columns
subclasses_one_hot.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,1,0,0,0,0,0,1,1,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",1,0,0,...,1,0,0,1,0,0,1,1,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",1,0,0,...,1,0,1,1,1,0,1,1,0,0

In [13]:
subclasses_one_hot.tail()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
3793,zimbabweans,person,1,1,1,144540438,['p1'],1,0,0,...,0,0,0,0,0,0,0,0,0,0
3794,zine,work,32,10,26,170394103,"['p5p1p20a', 'p8a', 'p8a', 'p8a', 'p3a', 'p3a'...",1,0,0,...,0,0,0,1,0,0,1,1,0,0
3795,zine,periodical,23,5,15,189735779,"['p4p1', 'p1p3a', 'p3a', 'p12a', 'p3a', 'p1', ...",1,0,0,...,1,0,0,0,0,0,1,0,0,0
3796,zine,publication,124,12,96,418332088,"['p5p34p4p1p8ap28dp3a', 'p1p8a', 'p1', 'p1', '...",1,0,0,...,1,0,0,1,0,0,1,0,0,0
3797,zoo,place,2057,34,1281,470849535,['p6p5p4p2p1p10p8dp8ap8cp8bp21bp26p25p23bp20bp...,1,1,0,...,1,0,1,1,1,1,1,1,1,1

In [14]:
# stack hypernyms together
hyper_one_hot = pd.concat([subclasses_one_hot, types_one_hot])
hyper_one_hot = hyper_one_hot.reset_index(drop=True)
hyper_one_hot.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,1,0,0,0,0,0,1,1,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",1,0,0,...,1,0,0,1,0,0,1,1,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",1,0,0,...,1,0,1,1,1,0,1,1,0,0

In [15]:
# drop duplicates 
hyper_one_hot = hyper_one_hot.drop_duplicates(subset=['id'])

In [16]:
# sanity check
hyper_one_hot.tail()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
121960,india,city,251,29,206,205155758,"['p5p4p1p15bp23ap24p8ap3a', 'p21bp21cp21dp12ap...",1,1,0,...,1,0,1,1,0,0,1,1,1,0
121961,india,settlement,29,7,26,259383873,"['p1', 'p2p25p8ap8b', 'p21b', 'p8a', 'p8b', 'p...",1,0,0,...,0,0,0,0,0,0,1,1,0,0
121962,in-a-gadda-da-vida,song,8,3,7,203100816,"['p8a', 'p8a', 'p8a', 'p8a', 'p8b', 'p8a', 'p2...",0,0,0,...,0,0,0,0,0,0,1,1,0,0
121963,interfaithfamily,organization,2,2,1,241033740,"['p8a', 'p5']",0,0,0,...,0,0,0,1,0,0,1,0,0,0
121964,interhealth,organization,1,1,1,216476018,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
# sanity check
hyper_one_hot.shape

(120246, 65)

In [18]:
# get train and testsplit
hyper_one_hot_train, hyper_one_hot_test = util_preprocessing.train_test_split(hyper_one_hot, test_size=0.05)
print('Shape train: {} || Shape test: {}'.format(hyper_one_hot_train.shape, hyper_one_hot_test.shape))

Shape train: (114233, 65) || Shape test: (6013, 65)

In [2]:
# import if session aborts
hyper_one_hot_train = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/hyper_train.csv',sep=";")
del hyper_one_hot_train['Unnamed: 0']
hyper_one_hot_train.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,togo,republic,17,2,4,456975913,"['p8ap8b', 'p8a', 'p8a', 'p8a', 'p8a', 'p8a', ...",0,0,0,...,0,0,0,0,0,1,1,0,0,1
1,tiririca,clown,2,2,2,359317698,"['p8a', 'p28a']",0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,oreo,brand,277,10,215,94409370,"['p5p15ap1p10p8ap3a', 'p3a', 'p5p10', 'p5p8ap3...",1,1,0,...,0,0,1,0,0,1,1,1,0,1
3,economics,agent,7,5,7,14430155,"['p21b', 'p23a', 'p8a', 'p8a', 'p20d', 'p8b']",0,0,0,...,0,0,0,0,0,1,1,0,0,1
4,batumi,place,3,2,3,117767460,"['p8a', 'p5', 'p8a']",0,0,0,...,0,0,1,0,0,1,0,0,0,1

In [3]:
hyper_one_hot_train.shape

(114233, 66)

In [3]:
# import if session aborts
hyper_one_hot_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/test/hyper_test.csv',sep=";")
del hyper_one_hot_test['Unnamed: 0']
hyper_one_hot_test.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,garfinkel,surname,1,1,1,24344309,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,proba-v,satellite,21,2,10,320193184,"['p8a', 'p8a', 'p8a', 'p8a', 'p8a', 'p5', 'p8a']",0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,diaminopropane,polyamine,4,2,2,502465474,"['p26', 'p5']",0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,soldsie,company,1,1,1,432514559,['p12a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,partington,place,2,1,2,475404223,['p1'],1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
hyper_one_hot_test.shape

(6013, 65)

In [9]:
# get 10 % split of hyper_one_train
hyper_one_hot_train_not, hyper_one_hot_fraction = util_preprocessing.train_test_split(hyper_one_hot_train, test_size=0.1)

In [10]:
# sanity check
hyper_one_hot_fraction.shape

(11424, 65)

In [11]:
# export
hyper_one_hot_fraction.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/hyper_fraction.csv',sep=";")

In [3]:
# import data
hyper_one_hot_fraction = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/hyper_fraction.csv',sep=";")
del hyper_one_hot_fraction['Unnamed: 0']

## 1.2 Create test set with negatives

In [4]:
# read in negatives one hot encoded
negatives_1 = pd.read_csv('/path/to/data/machine_learning/one_hot_encoded/negatives_1_one_hot_encoded.csv',sep=";")
del negatives_1['Unnamed: 0']

negatives_2 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_2_one_hot_encoded.csv',sep=";")
del negatives_2['Unnamed: 0']

negatives_3 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_3_one_hot_encoded.csv',sep=";")
del negatives_3['Unnamed: 0']

negatives_4 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_4_one_hot_encoded.csv',sep=";")
del negatives_4['Unnamed: 0']

negatives_5 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_5_one_hot_encoded.csv',sep=";")
del negatives_5['Unnamed: 0']

negatives_6 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_6_one_hot_encoded.csv',sep=";")
del negatives_6['Unnamed: 0']

In [5]:
# stack data together
negatives = pd.concat([negatives_1, negatives_2, negatives_3,
                         negatives_4, negatives_5, negatives_6])
negatives.shape

(6842160, 65)

In [4]:
# delete duplicates
negatives = negatives.drop_duplicates(subset=['_id'])
negatives.shape

(6842160, 65)

In [5]:
# same shape -> read in one hot encoded data from before

In [6]:
# read in negatives one hot encoded
negatives_one_hot_test = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/test/negatives_one_hot_test.csv', sep=";")
del negatives_one_hot_test['Unnamed: 0']
negatives_one_hot_test.head()

,_id,instance,class,frequency,pidspread,pldspread,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,269346885,umbayee,singer,1,1,1,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,384736334,cataline,mine,1,1,1,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,127355831,inch,elf,17,1,1,"['p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,41841734,neck,self-portrait,1,1,1,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,382392019,jeremiah,line,6,4,5,"['p3a', 'p8a', 'p8a', 'p10', 'p5', 'p3a']",0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [20]:
# Sanity Check
negatives_one_hot_test['_id'].value_counts()

494349965    1
504326584    1
391606715    1
334375487    1
309111232    1
            ..
398656970    1
452146636    1
189268762    1
377169358    1
147326977    1
Name: _id, Length: 342108, dtype: int64

In [21]:
# Sanity check
negatives_one_hot_test.shape

(342108, 65)

In [22]:
# id column is changed of negatives -> change position
id_negative = negatives_one_hot_test['_id']
del negatives_one_hot_test['_id']
negatives_one_hot_test.insert(loc=hyper_one_hot_test.columns.get_loc('id'), column='id', value=id_negative)
negatives_one_hot_test.head()

,instance,class,frequency,pidspread,pldspread,id,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,umbayee,singer,1,1,1,269346885,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,cataline,mine,1,1,1,384736334,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,inch,elf,17,1,1,127355831,"['p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,neck,self-portrait,1,1,1,41841734,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,jeremiah,line,6,4,5,382392019,"['p3a', 'p8a', 'p8a', 'p10', 'p5', 'p3a']",0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [23]:
# Sanity check 2
negatives_one_hot_test.shape

(342108, 65)

In [14]:
# rename columns of negatives
negatives_one_hot_test.columns = hyper_one_hot_test.columns

In [25]:
# append label to subsets
negatives_one_hot_test['label'] = ['0'] * len(negatives_one_hot_test)
hyper_one_hot_test['label'] = [1] * len(hyper_one_hot_test)

/home/linda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
# Sanity Check
negatives_one_hot_test.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,umbayee,singer,1,1,1,269346885,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,cataline,mine,1,1,1,384736334,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,inch,elf,17,1,1,127355831,"['p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,neck,self-portrait,1,1,1,41841734,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,jeremiah,line,6,4,5,382392019,"['p3a', 'p8a', 'p8a', 'p10', 'p5', 'p3a']",0,1,0,...,0,0,1,0,0,1,0,0,0,0

In [27]:
# concat data
test_one_hot = pd.concat([negatives_one_hot_test, hyper_one_hot_test])
test_one_hot = test_one_hot.reset_index(drop=True)
test_one_hot.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,umbayee,singer,1,1,1,269346885,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,cataline,mine,1,1,1,384736334,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,inch,elf,17,1,1,127355831,"['p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,neck,self-portrait,1,1,1,41841734,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,jeremiah,line,6,4,5,382392019,"['p3a', 'p8a', 'p8a', 'p10', 'p5', 'p3a']",0,1,0,...,0,0,1,0,0,1,0,0,0,0

In [28]:
# Sanity check
test_one_hot.tail()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
348116,fajr-5,missile,4,2,4,448649739,['p8ap3a'],0,0,0,...,0,0,0,0,0,1,0,0,0,1
348117,jainosaurus,dinosaur,2,2,1,461785305,"['p8b', 'p8a']",0,0,0,...,0,0,0,0,0,1,1,0,0,1
348118,chilostomella,species,1,1,1,477689215,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,1
348119,rinpoche,person,17,4,9,485638918,"['p8b', 'p8a', 'p8b', 'p8a', 'p10', 'p8a', 'p8...",0,1,0,...,0,0,0,0,0,1,1,0,0,1
348120,polegate,place,1,1,1,357190886,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [29]:
# Sanity check 2
test_one_hot.shape

(348121, 66)

In [30]:
# shuffle data
test_one_hot = test_one_hot.sample(frac=1).reset_index(drop=True)
test_one_hot.tail()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
348116,khan,self-portrait,2,1,2,41331944,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
348117,american,chapbook,1,1,1,61894843,['p10'],0,1,0,...,0,0,0,0,0,0,0,0,0,0
348118,voyage,holder,1,1,1,388961596,['p25'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
348119,find,play,3,2,3,166021925,"['p8a', 'p3a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
348120,grammar,lyric,3,3,3,35874053,"['p21dp23b', 'p25']",0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# Sanity check 2
test_one_hot.shape

(348121, 66)

In [32]:
# Sanity check 3
test_one_hot.id.value_counts()

88610813     1
27619586     1
467469740    1
217059671    1
456833942    1
            ..
128185556    1
138667222    1
14916825     1
475562555    1
147326977    1
Name: id, Length: 348121, dtype: int64

In [33]:
# export for future uses
test_one_hot.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/test/one_hot_test.csv', sep=";")

## 1.3 Get Downsampled training data

In [6]:
# read in negatives one hot encoded
negatives_1 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_1_one_hot_encoded.csv',sep=";")
del negatives_1['Unnamed: 0']

negatives_2 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_2_one_hot_encoded.csv',sep=";")
del negatives_2['Unnamed: 0']

negatives_3 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_3_one_hot_encoded.csv',sep=";")
del negatives_3['Unnamed: 0']

negatives_4 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_4_one_hot_encoded.csv',sep=";")
del negatives_4['Unnamed: 0']

negatives_5 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_5_one_hot_encoded.csv',sep=";")
del negatives_5['Unnamed: 0']

negatives_6 = pd.read_csv('/path/to/9_FINAL/data/machine_learning/one_hot_encoded/negatives_6_one_hot_encoded.csv',sep=";")
del negatives_6['Unnamed: 0']

In [ ]:
# stack data together
negatives = pd.concat([negatives_1, negatives_2, negatives_3,
                         negatives_4, negatives_5, negatives_6])
negatives.shape

In [7]:
# remove test instances
negatives = negatives[~negatives['_id'].isin(negatives_one_hot_test['_id'])]
negatives.shape

(6500052, 65)

In [15]:
# randomly draw len(hyper_train from negatives_one_hot)
downsampled_train_one_hot = negatives.sample(len(hyper_one_hot_train))
downsampled_train_one_hot.shape

(114233, 65)

In [3]:
# import if session aborts
downsampled_train_one_hot = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/downsampled_negatives_one_hot.csv',sep=";")
del downsampled_train_one_hot['Unnamed: 0']
downsampled_train_one_hot.head()

,_id,instance,class,frequency,pidspread,pldspread,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,18864615,chapel,conference,2,2,2,"['p27a', 'p8a']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,289954489,maze,enclosure,2,1,1,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,357572652,solitude,story,25,6,16,"['p34p23dp1p8ap8b', 'p8a', 'p8a', 'p8a', 'p8a'...",1,0,0,...,0,0,0,0,0,0,1,1,0,0
3,485108630,guernsey,flight,2,1,1,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,211139786,uis,writer,1,1,1,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
downsampled_train_one_hot.shape

(114233, 65)

In [18]:
# id column is changed of negatives -> change position
id_negative = downsampled_train_one_hot['_id']
del downsampled_train_one_hot['_id']
downsampled_train_one_hot.insert(loc=hyper_one_hot_train.columns.get_loc('id'), column='id', value=id_negative)
downsampled_train_one_hot.head()

,instance,class,frequency,pidspread,pldspread,id,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
53700,19,habit,1,1,1,463684735,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
218187,afternoon,firework,2,2,2,411043796,"['p8b', 'p8a']",0,0,0,...,0,0,0,0,0,0,1,1,0,0
161415,cinnamon,conflict,1,1,1,58839867,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
993603,finschhafen,region,1,1,1,142537609,['p23d'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
104476,stumble,place,3,3,3,40407132,"['p8a', 'p20a', 'p8c']",0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [19]:
# change column names
downsampled_train_one_hot.columns = hyper_one_hot_train.columns

In [20]:
# insert label to both train and negatives
downsampled_train_one_hot['label'] = [0] *len(downsampled_train_one_hot)
hyper_one_hot_train['label'] = [1] * len(hyper_one_hot_train)

In [21]:
# concat data to one dataset
one_hot_train=pd.concat([downsampled_train_one_hot, hyper_one_hot_train])
one_hot_train = one_hot_train.reset_index(drop=True)
one_hot_train.shape

(228466, 66)

In [22]:
# shuffle data
one_hot_train = one_hot_train.sample(frac=1).reset_index(drop=True)
one_hot_train.shape

(228466, 66)

In [23]:
one_hot_train.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,bank,employee,220,24,159,455195934,"['p5p4p2p1p8ap27ap8bp3a', 'p3a', 'p36p1p24p8a'...",1,0,0,...,0,0,1,1,0,1,1,1,0,0
1,reed,person,75,11,58,308842193,"['p8b', 'p26p8ap20a', 'p8ap8b', 'p8b', 'p8a', ...",0,0,0,...,0,1,1,1,0,1,1,1,0,0
2,engraving,lathe,2,1,1,17399482,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,uk,argument,32,11,28,140516330,"['p23ap8ap20a', 'p21c', 'p8b', 'p8a', 'p8a', '...",0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,helumbu,village,1,1,1,432764991,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [24]:
# sanity check
one_hot_train.label.value_counts()

1    114233
0    114233
Name: label, dtype: int64

In [ ]:
# export data for future uses
one_hot_train.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/one_hot_train_downsampled.csv',sep=";")

## 1.4 Get fraction of negatives (10%)

In [4]:
# import data if session is aborted
negatives = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/negatives_train_fraction.csv', sep=";")
del negatives['Unnamed: 0']

In [5]:
# sanity check
negatives.shape

(6500052, 66)

In [6]:
# get negatives.head()
negatives.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,1866,railway,1,1,1,1643854,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1960,library,6,5,6,1648888,"['p23a', 'p12a', 'p20a', 'p8a', 'p8b', 'p8a']",0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,1975,epithet,1,1,1,1678428,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,2000,habitat,1,1,1,1678435,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1920,chemist,1,1,1,1680401,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
# columns are flipped
negatives_id = negatives['instance']
negatives_instance = negatives['class']
negatives_class = negatives['frequency']
negatives_frequency = negatives['pidspread']
negatives_pidspread = negatives['pldspread']
negatives_pldspread = negatives['id']

In [12]:
# delete
del negatives['instance']
del negatives['class']
del negatives['frequency']
del negatives['pidspread']
del negatives['pldspread']
del negatives['id']

In [13]:
# insert into dataframe
negatives.insert(loc=0, column='id', value=negatives_id)
negatives.insert(loc=0, column='pldspread', value=negatives_pldspread)
negatives.insert(loc=0, column='pidspread', value=negatives_pidspread)
negatives.insert(loc=0, column='frequency', value=negatives_frequency)
negatives.insert(loc=0, column='class', value=negatives_class)
negatives.insert(loc=0, column='instance', value=negatives_instance)

In [14]:
# sanity check
negatives.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,1866,railway,1,1,1,1643854,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1960,library,6,5,6,1648888,"['p23a', 'p12a', 'p20a', 'p8a', 'p8b', 'p8a']",0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,1975,epithet,1,1,1,1678428,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,2000,habitat,1,1,1,1678435,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1920,chemist,1,1,1,1680401,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [15]:
# export for future uses 
negatives.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/negatives_train_fraction.csv', sep=";")

In [11]:
# get sample of negatives_train
negatives_sample = negatives.sample(int(0.1*len(negatives))).reset_index(drop=True)

In [12]:
negatives_sample.shape

(650005, 65)

In [15]:
# sanity check
hyper_one_hot_fraction.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,carp,soup,2,2,2,176741160,"['p23a', 'p34']",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,polynya,region,1,1,1,267761025,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,ballistol,material,1,1,1,413458268,['p4'],0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,foulum,place,1,1,1,116568536,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,e-book,book,277,32,202,499977458,['p5p4p2p1p8ap8bp36p26p23dp23ap21cp25p23bp21dp...,1,1,0,...,1,0,1,1,0,0,1,1,1,1

In [14]:
# sanity check
negatives_sample.head()

,_id,instance,class,frequency,pidspread,pldspread,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,292295267,manes,forensic,3,1,2,"['p8a', 'p8a']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,95537577,monk,dance,8,6,8,"['p23a', 'p36', 'p10', 'p23b', 'p3a', 'p3a', '...",0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,491692435,jagged,text,1,1,1,['p23d'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,220571947,government,village,28,13,25,"['p36p23bp8c', 'p1', 'p43', 'p8a', 'p8b', 'p23...",1,0,0,...,1,0,1,1,0,0,1,1,1,0
4,419554008,glen,sociologist,1,1,1,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
negatives_sample.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/negatives_train_10fraction.csv', sep=";")

In [16]:
# id column is changed of negatives -> change position
id_negative = negatives_sample['_id']
del negatives_sample['_id']
negatives_sample.insert(loc=hyper_one_hot_fraction.columns.get_loc('id'), column='id', value=id_negative)
negatives_sample.head()

,instance,class,frequency,pidspread,pldspread,id,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,manes,forensic,3,1,2,292295267,"['p8a', 'p8a']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,monk,dance,8,6,8,95537577,"['p23a', 'p36', 'p10', 'p23b', 'p3a', 'p3a', '...",0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,jagged,text,1,1,1,491692435,['p23d'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,government,village,28,13,25,220571947,"['p36p23bp8c', 'p1', 'p43', 'p8a', 'p8b', 'p23...",1,0,0,...,1,0,1,1,0,0,1,1,1,0
4,glen,sociologist,1,1,1,419554008,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
# change column names
negatives_sample.columns = hyper_one_hot_fraction.columns

In [18]:
# insert label to both train and negatives
negatives_sample['label'] = [0] *len(negatives_sample)
hyper_one_hot_fraction['label'] = [1] * len(hyper_one_hot_fraction)

In [19]:
# concat data to one dataset
one_hot_train_fraction=pd.concat([negatives_sample, hyper_one_hot_fraction])
one_hot_train_fraction = one_hot_train_fraction.reset_index(drop=True)
one_hot_train_fraction.shape

(661429, 66)

In [20]:
# shuffle data
one_hot_train_fraction = one_hot_train_fraction.sample(frac=1).reset_index(drop=True)
one_hot_train_fraction.shape

(661429, 66)

In [21]:
# sanity check
one_hot_train_fraction.label.value_counts()

0    650005
1     11424
Name: label, dtype: int64

In [22]:
# export data for future uses
one_hot_train_fraction.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/one_hot_train_fraction.csv',sep=";")

## 1.5 Repeat 5 times hyper

In [5]:
# repeat
repeated_hyper = pd.concat([hyper_one_hot_train, hyper_one_hot_train, hyper_one_hot_train, hyper_one_hot_train, hyper_one_hot_train])
repeated_hyper = repeated_hyper.sample(frac=1).reset_index(drop=True)
repeated_hyper.shape

(571165, 65)

In [6]:
# get sample of negatives_train
negatives_sample = negatives.sample(len(repeated_hyper)).reset_index(drop=True)

In [7]:
# id column is changed of negatives -> change position
id_negative = negatives_sample['_id']
del negatives_sample['_id']
negatives_sample.insert(loc=repeated_hyper.columns.get_loc('id'), column='id', value=id_negative)
negatives_sample.head()

,instance,class,frequency,pidspread,pldspread,id,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,fedex,agreement,3,2,3,340047423,"['p8a', 'p8a', 'p3a']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,reincarnation,church,1,1,1,53451296,['p21a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,wald,component,1,1,1,287031917,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,mumps,group,1,1,1,369967958,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,arts,cave,1,1,1,179389265,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [8]:
# change column names
negatives_sample.columns = repeated_hyper.columns

In [9]:
# insert label to both train and negatives
negatives_sample['label'] = [0] *len(negatives_sample)
repeated_hyper['label'] = [1] * len(repeated_hyper)

In [10]:
# concat data to one dataset
one_hot_train_up=pd.concat([negatives_sample, repeated_hyper])
one_hot_train_up = one_hot_train_up.reset_index(drop=True)
one_hot_train_up.shape

(1142330, 66)

In [11]:
# sanity check
one_hot_train_up.label.value_counts()

1    571165
0    571165
Name: label, dtype: int64

In [4]:
# shuffle data
one_hot_train_up = one_hot_train_up.sample(frac=1).reset_index(drop=True)
one_hot_train_up.head(15)

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,lattimer,name,2,2,2,377124302,"['p21a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,bethphage,place,7,3,7,14506363,"['p8a', 'p8b', 'p10']",0,1,0,...,0,0,0,0,0,1,1,0,0,1
2,winter,convention,8,4,7,21547293,"['p2p8a', 'p2', 'p8b', 'p5', 'p5', 'p5']",0,0,0,...,0,0,1,0,0,1,1,0,0,1
3,sheepskin,sheep,2,2,2,17107854,"['p8a', 'p3a']",0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,hexapetalum,species,1,1,1,139090198,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,1
5,graci,place,2,2,2,371925987,"['p8a', 'p20a']",0,0,0,...,0,0,0,0,0,1,0,0,0,1
6,c,tincture,2,2,2,472810497,"['p8c', 'p3a']",0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,arco,organization,2,2,2,314484206,['p1p8a'],1,0,0,...,0,0,0,0,0,1,0,0,0,1
8,rife,word,5,1,4,167216426,"['p8a', 'p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,1
9,tempest,cartoonist,1,1,1,245156610,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,karasjok,region,1,1,1,481535764,['p23c'],0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,carly,genealogist,1,1,1,208714763,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,0
12,ve,investor,1,1,1,141614608,['p39'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,kelleher,designer,2,1,2,58766519,"['p8a', 'p8a']",0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,geosat,satellite,2,2,2,425551997,"['p5', 'p8b']",0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [5]:
# export data
one_hot_train_up.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/one_hot_train_up.csv', sep=";")

In [2]:
# import data
one_hot_train_up = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/one_hot_train_up.csv', sep=";")
del one_hot_train_up['Unnamed: 0']

## 1.6 Concat data

In [6]:
# change column names
negatives.columns = hyper_one_hot_train.columns

In [7]:
# insert label to both train and negatives
negatives['label'] = [0] *len(negatives)
hyper_one_hot_train['label'] = [1] * len(hyper_one_hot_train)

In [8]:
negatives.columns

Index(['instance', 'class', 'frequency', 'pidspread', 'pldspread', 'id',
       'pids', 'p1', 'p10', 'p11', 'p12a', 'p12b', 'p12c', 'p13', 'p14',
       'p15a', 'p15b', 'p16', 'p2', 'p20a', 'p20b', 'p20c', 'p20d', 'p21a',
       'p21b', 'p21c', 'p21d', 'p22a', 'p22b', 'p23a', 'p23b', 'p23c', 'p23d',
       'p23e', 'p24', 'p25', 'p26', 'p27a', 'p27b', 'p28a', 'p28b', 'p28c',
       'p28d', 'p29a', 'p29c', 'p30a', 'p30b', 'p31a', 'p31b', 'p34', 'p36',
       'p37', 'p38', 'p39', 'p3a', 'p4', 'p42', 'p43', 'p5', 'p6', 'p7', 'p8a',
       'p8b', 'p8c', 'p8d', 'label'],
      dtype='object')

In [9]:
hyper_one_hot_train.columns

Index(['instance', 'class', 'frequency', 'pidspread', 'pldspread', 'id',
       'pids', 'p1', 'p10', 'p11', 'p12a', 'p12b', 'p12c', 'p13', 'p14',
       'p15a', 'p15b', 'p16', 'p2', 'p20a', 'p20b', 'p20c', 'p20d', 'p21a',
       'p21b', 'p21c', 'p21d', 'p22a', 'p22b', 'p23a', 'p23b', 'p23c', 'p23d',
       'p23e', 'p24', 'p25', 'p26', 'p27a', 'p27b', 'p28a', 'p28b', 'p28c',
       'p28d', 'p29a', 'p29c', 'p30a', 'p30b', 'p31a', 'p31b', 'p34', 'p36',
       'p37', 'p38', 'p39', 'p3a', 'p4', 'p42', 'p43', 'p5', 'p6', 'p7', 'p8a',
       'p8b', 'p8c', 'p8d', 'label'],
      dtype='object')

In [11]:
negatives.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/negatives_train_fraction.csv', sep=";")

In [ ]:
# concat data to one dataset
one_hot=pd.concat([negatives, hyper_one_hot_train])
one_hot = one_hot.reset_index(drop=True)
one_hot.shape

In [10]:
# export for future uses
hyper_one_hot_train.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/hyper_train.csv',sep=";")

## 1.7 Get five folds

In [7]:
# get fraction of negatives and hyper
len_hyper = int(len(hyper_one_hot_train)*0.2)
len_negatives = int(len(negatives)*0.2)

In [18]:
# get five folds for cross validation
all_ids = []
out_name = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/positive/fold_positives_'

for x in range(5):
    # take out data which was already checked
    data = hyper_one_hot_train[~hyper_one_hot_train.id.isin(all_ids)]
    
    if x < 4:
        data = data.sample(len_hyper)
        all_ids.extend(data['id'])
    
    data = data.reset_index(drop=True) # reset index
    
    export_name = out_name+str(x)+'.csv'
    
    # export data
    data.to_csv(export_name, sep=";")

In [22]:
# sanity check

file_folder = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/positive/'
files = os.listdir(file_folder)

In [23]:
all_data = pd.DataFrame()

for file in files:
    data = pd.read_csv(file_folder+file, sep=";")
    all_data = pd.concat([data, all_data])

In [20]:
len(hyper_one_hot_train)

114233

In [32]:
len(all_ids)

1300010

In [9]:
negatives.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,1643854,1866,railway,1,1,1,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1648888,1960,library,6,5,6,"['p23a', 'p12a', 'p20a', 'p8a', 'p8b', 'p8a']",0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,1678428,1975,epithet,1,1,1,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1678435,2000,habitat,1,1,1,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1680401,1920,chemist,1,1,1,['p8b'],0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [8]:
# get five folds for cross validation in negatives
all_ids = []
out_name = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/negative/fold_negatives_'

for x in range(5):
    # take out data which was already checked
    print('Fold {}'.format(x))
    data = negatives[~negatives.id.isin(all_ids)]
    
    if x < 4:
        print(len(data))
        data = data.sample(len_negatives)
        all_ids.extend(data['id'])
    
    data = data.reset_index(drop=True) # reset index
    
    export_name = out_name+str(x)+'.csv'
    
    # export data
    data.to_csv(export_name, sep=";")

Fold 0
6500052
Fold 1
5200042
Fold 2
3900032
Fold 3
2600022
Fold 4

In [9]:
# sanity check
file_folder = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/negative/'
files = os.listdir(file_folder)

In [10]:
all_data_length = 0

for file in files:
    data = pd.read_csv(file_folder+file, sep=";")
    all_data_length += len(data) # -> check alright

## 1.8 get validation sets

In [14]:
# append folds and shuffle
for x in range(5):
    # read positives
    hyper_text = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/positive/fold_positives_'+str(x)+'.csv'
    hyper = pd.read_csv(hyper_text, sep=";")
    del hyper['Unnamed: 0']
    
    # read negatives
    negatives_text = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/negative/fold_negatives_'+str(x)+'.csv'
    negative = pd.read_csv(negatives_text, sep=";")
    del negative['Unnamed: 0']
    
    # concat data
    all_data = pd.concat([hyper, negative])
    all_data = all_data.sample(frac=1).reset_index(drop=True)
    print(all_data.id.value_counts())
    
    # export data
    out_name = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/validation/val_fold_'+ str(x) + '.csv'
    all_data.to_csv(out_name, sep=";")

153659779    1
511899914    1
198420474    1
54784299     1
67354925     1
            ..
363861160    1
137370793    1
198184107    1
257940323    1
395700785    1
Name: id, Length: 1322856, dtype: int64
192940031    1
513378916    1
94461135     1
92158610     1
374670569    1
            ..
133291297    1
256462723    1
415079705    1
120153990    1
210678247    1
Name: id, Length: 1322856, dtype: int64
260048895    1
318946562    1
86215972     1
138642725    1
490970406    1
            ..
106539422    1
367413113    1
291010980    1
7889319      1
415236096    1
Name: id, Length: 1322856, dtype: int64
471861247    1
404110553    1
457241931    1
394317132    1
288986353    1
            ..
101304210    1
17420179     1
185202580    1
478805909    1
499124225    1
Name: id, Length: 1322856, dtype: int64
381683711    1
163729695    1
127973698    1
73016962     1
102795588    1
            ..
269284148    1
465229456    1
235707193    1
276098775    1
423624704    1
Name: id, Length: 1322861, dtype: int64

# 1.9 get downsampled training sets

In [2]:
# get files
negative = '/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/negative/'
positive = '/path/to/INTENSO/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/positive/'

negative_files = os.listdir(negative)
positive_files = os.listdir(positive)

In [3]:
# take all positives and sample from negatives
negatives_taken = []

for x in range(5):
    # initialize empty dataframe for positives
    all_positives = pd.DataFrame()
    do_not_take_positive = 'fold_positives_' + str(x) + '.csv' 
    
    # loop through all positives
    for file in positive_files:
        if file != do_not_take_positive:
            data = pd.read_csv(positive + file, sep=";")
            all_positives = pd.concat([all_positives, data])
    
    all_negatives = pd.DataFrame()
    do_not_take_negative = 'fold_negatives_' + str(x) + '.csv'
    # loop through all negatives
    for negative_file in negative_files:
        if negative_file != do_not_take_negative:
            data = pd.read_csv(negative + negative_file, sep=";")
            all_negatives = pd.concat([all_negatives, data])
    
    # get sample of all negatives
    all_negatives = all_negatives[~all_negatives.id.isin(negatives_taken)]
    all_negatives = all_negatives.sample(len(all_positives))
    negatives_taken.extend(all_negatives.id) # do not take these instances again
    
    # stack data
    training_fold = pd.concat([all_positives, all_negatives])
    training_fold = training_fold.sample(frac=1).reset_index(drop=True)
    
    # sanity check
    print('Training {}'.format(len(training_fold)))
    
    # export
    file_out = 'training_' + str(x) + '.csv'
    training_fold.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/cross_validation/training/'+file_out,sep=";")
    # print('Positives {}'.format(len(all_positives)))

Training 182774
Training 182774
Training 182774
Training 182774
Training 182768

# 2.1 Count based

## 2.1.1 Stack subclasses and types together and draw test and train

In [26]:
# read count subclass data
subclasses_count = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/subclasses_count_based.csv', sep=";")
del subclasses_count['Unnamed: 0']

subclasses_count.head()

,subClass,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,2,0,0,0,0,0,1,2,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",13,0,0,...,1,0,0,2,0,0,6,6,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",15,0,0,...,5,0,8,1,1,0,17,5,0,0

In [27]:
# sanity check
subclasses_count.shape

(3798, 64)

In [28]:
# read count types data
types_count = pd.read_csv('/path/to/9_FINAL/data/machine_learning/count_based/types_count_based.csv', sep=";")
del types_count['Unnamed: 0']

types_count.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,1988,album,4,2,4,89520215,"['p3a', 'p5', 'p5', 'p3a']",0,0,0,...,0,0,0,2,0,0,0,0,0,0
1,196,year,1,1,1,250210719,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,53,year,2,1,1,333976287,['p8b'],0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2007,year,104,6,57,179643001,"['p25p8ap8b', 'p8b', 'p8b', 'p25', 'p8b', 'p8b...",1,0,0,...,0,0,0,0,0,0,6,74,0,0
4,2,aircraft,21,4,16,472381603,"['p8b', 'p8b', 'p8b', 'p3a', 'p8b', 'p5', 'p8b...",0,0,0,...,0,0,0,1,0,0,3,7,0,0

In [29]:
# sanity check
types_count.shape

(118167, 65)

In [30]:
# get column difference
difference_column = str(set(types_count.columns[7:]).difference(subclasses_count.columns[7:])).replace('{', '')
difference_column = difference_column.replace('}', '')
difference_column = difference_column.replace('\'', '')

In [31]:
# get column position
column_position = types_count.columns.get_loc(difference_column)
print(column_position)

48

In [32]:
# include missing column into subclasses
zero_pattern = [0] * len(subclasses_count)
subclasses_count.insert(loc=column_position, column=difference_column, value=zero_pattern)
subclasses_count.head()

,subClass,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,10,decade,2,1,2,108191420,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,abbess,nun,12,7,11,403873869,"['p4p8ap3a', 'p3a', 'p8b', 'p4', 'p8b', 'p27a'...",1,0,0,...,2,0,0,0,0,0,1,2,0,0
2,abbot,person,48,7,32,156276663,"['p4p1', 'p1', 'p1', 'p1', 'p1', 'p8b', 'p3a',...",13,0,0,...,1,0,0,2,0,0,6,6,0,0
3,actuary,statistician,3,2,3,512259817,['p4p8a'],0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,activist,person,172,16,101,485263422,"['p4p23dp2p39p1p23ap23bp8ap3ap43', 'p6p8bp3ap4...",15,0,0,...,5,0,8,1,1,0,17,5,0,0

In [33]:
# rename columns in subclasses
subclasses_count.columns = types_count.columns

In [34]:
# stack types and subclasses together
hyper_count = pd.concat([subclasses_count, types_count])
hyper_count = hyper_count.reset_index(drop=True)
hyper_count = hyper_count.drop_duplicates(subset=['id']) # drop duplicates
hyper_count.shape

(120246, 65)

In [35]:
# append label
hyper_count['label'] = [1] * len(hyper_count)

In [36]:
# get training with id of one hot encoded data
id_train = hyper_one_hot_train.id
hyper_count_train = hyper_count[hyper_count.id.isin(id_train)]
hyper_count_train.shape

(114233, 66)

In [37]:
# get testing with id of one hot encoded data
id_test = hyper_one_hot_test.id
hyper_count_test = hyper_count[hyper_count.id.isin(id_test)]
hyper_count_test.shape

(6013, 66)

## 2.1.2 Get test negatives

In [41]:
# read in one-hot encoded
negatives = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/test/negatives_one_hot_test.csv',sep=";")
del negatives['Unnamed: 0']
negatives.shape

(342108, 65)

In [42]:
# sanity check
negatives.head()

,_id,instance,class,frequency,pidspread,pldspread,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,269346885,umbayee,singer,1,1,1,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,384736334,cataline,mine,1,1,1,['p3a'],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,127355831,inch,elf,17,1,1,"['p8a', 'p8a', 'p8a']",0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,41841734,neck,self-portrait,1,1,1,['p8a'],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,382392019,jeremiah,line,6,4,5,"['p3a', 'p8a', 'p8a', 'p10', 'p5', 'p3a']",0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [43]:
# calculate count pids
negatives = negatives[['instance', 'class', 'frequency', 'pidspread', 'pldspread', '_id', 'modifications']]
negatives.head()

,instance,class,frequency,pidspread,pldspread,_id,modifications
0,umbayee,singer,1,1,1,269346885,['p8a']
1,cataline,mine,1,1,1,384736334,['p3a']
2,inch,elf,17,1,1,127355831,"['p8a', 'p8a', 'p8a']"
3,neck,self-portrait,1,1,1,41841734,['p8a']
4,jeremiah,line,6,4,5,382392019,"['p3a', 'p8a', 'p8a', 'p10', 'p5', 'p3a']"

In [45]:
# get all different pids
negatives_pids = util_pids.get_all_different_pids(negatives, 'modifications')
len(negatives_pids)

58

In [46]:
# calculate pid counts
negatives_count_test = util_pids.append_count_pids_to_data(negatives, negatives_pids, 'modifications')
negatives_count_test.shape

(342108, 65)

In [47]:
# sanity check
negatives_count_test.head()

,instance,class,frequency,pidspread,pldspread,_id,modifications,p1,p10,p11,...,p4,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d
0,umbayee,singer,1,1,1,269346885,[p8a],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,cataline,mine,1,1,1,384736334,[p3a],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,inch,elf,17,1,1,127355831,"[p8a, p8a, p8a]",0,0,0,...,0,0,0,0,0,0,3,0,0,0
3,neck,self-portrait,1,1,1,41841734,[p8a],0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,jeremiah,line,6,4,5,382392019,"[p3a, p8a, p8a, p10, p5, p3a]",0,1,0,...,0,0,0,1,0,0,2,0,0,0

In [48]:
# export for future uses
negatives_count_test.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/count-based/test/negatives_test.csv', sep =";")

## 2.3 Stack test negatives and hypernym

In [49]:
# get label of negatives
negatives_count_test['label'] = [0] * len(negatives_count_test)

In [51]:
# change column name
negatives_count_test.columns = hyper_count_test.columns

In [52]:
# stack data 
test_count = pd.concat([negatives_count_test, hyper_count_test])
test_count = test_count.sample(frac=1).reset_index(drop=True)
test_count.shape

(348121, 66)

In [53]:
# sanity check
test_count.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,preeti,victim,1,1,1,395309756,[p8b],0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,magic,tomb,1,1,1,201370167,[p21a],0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,vii,horn,1,1,1,245826664,[p8a],0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,abigail,designer,5,1,4,49117817,"[p8a, p8a, p8a, p8a]",0,0,0,...,0,0,0,0,0,4,0,0,0,0
4,trip,hummingbird,1,1,1,417853003,[p5],0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [3]:
# import if session aborts
test_count = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/count-based/test/count_test.csv',sep=";")
del test_count['Unnamed: 0']
test_count.shape

(348121, 66)

## 2.4 Get train downsampled

In [2]:
# negatives train
negatives_train = pd.read_csv('/path/to/9_FINAL/data/machine_learning/two_class/one-hot-ecoding/train/downsampled_negatives_one_hot.csv',sep=";")
del negatives_train['Unnamed: 0']
negatives_train.shape

(114233, 65)

In [4]:
# get count columns
negatives_train = negatives_train[['instance', 'class', 'frequency', 'pidspread',
                                  'pldspread', '_id', 'modifications']]

In [5]:
# get all different pids
negatives_pids = util_pids.get_all_different_pids(negatives_train, 'modifications')
len(negatives_pids)

58

In [6]:
# calculate pid counts
negatives_count_train = util_pids.append_count_pids_to_data(negatives_train, negatives_pids, 'modifications')
negatives_count_train.shape

(114233, 65)

In [7]:
# get label
negatives_count_train['label'] = [0] * len(negatives_count_train)

In [9]:
# change column names
negatives_count_train.columns = hyper_count_train.columns

In [17]:
# export data
negatives_count_train.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/count-based/train/negatives_downsampled_count.csv',sep=";")

In [10]:
# stack data
count_train = pd.concat([negatives_count_train, hyper_count_train])
count_train.shape

(228466, 66)

In [11]:
# sanity check
count_train.id.value_counts()

116396030    1
294732854    1
86434698     1
6495766      1
51811204     1
            ..
444278223    1
58928590     1
68910032     1
227741130    1
193986560    1
Name: id, Length: 228466, dtype: int64

In [12]:
# shuffle data
count_train = count_train.sample(frac=1).reset_index(drop=True)
count_train.shape

(228466, 66)

In [13]:
count_train.head()

,instance,class,frequency,pidspread,pldspread,id,pids,p1,p10,p11,...,p42,p43,p5,p6,p7,p8a,p8b,p8c,p8d,label
0,espresso,shop,50,14,40,381646096,"[p5, p23bp3a, p8a, p3a, p12a, p21d, p8b, p3a, ...",2,0,0,...,0,0,6,0,0,16,2,1,0,0
1,right,vehicle,139,22,101,225853190,"[p21bp5p2p1p25p21dp11p20bp8ap27bp3ap43, p15ap8...",9,0,1,...,0,3,7,0,0,25,3,0,1,0
2,permaculture,person,2,1,2,81603917,['p5'],0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,silvermont,microprocessor,1,1,1,41005554,['p8a'],0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,iniparib,agent,8,1,7,360028802,"[p8a, p8a, p8a]",0,0,0,...,0,0,0,0,0,3,0,0,0,0

In [14]:
# export for future uses
count_train.to_csv('/path/to/9_FINAL/data/machine_learning/two_class/count-based/train/downsampled_count_train.csv',sep=";")